[2015-11-18 20:32] cloudnautique opened #1 "Binary releases?"
Hello, just wondering if there are plans to put a binary release here?

[2015-11-19 07:37] tanji commented on #1
Hello Bill,

I guess that should be done indeed. I'll update the releases page.

[2015-11-26 10:58] swar0g opened #3 "Panic: runtime error: index out of range"
Just got the latest binaries and tried to setup failover with simple master-slave replication. Somehow like this:

mariadb-repmgr -user user:user -rpluser repl:repl -hosts 10.0.0.2:3306,10.0.0.3:3306 -failover=force

Master went down and I got:

panic: runtime error: index out of range

goroutine 1 [running]:
main.main()
        /home/tanj/Dev/go/src/github.com/tanji/mariadb-tools/mariadb-repmgr/r

[2015-11-30 09:00] tanji commented on #3
I would say that was due to authentication errors which were not handled correctly, probably you were using the wrong user/pass combination and that led to a panic.
I've added some code to catch those errors in the latest release. Let me know if it works.

[2015-11-30 09:09] tanji commented on #1
Updated.

[2015-11-30 09:09] #1 closed

[2015-11-30 09:40] swar0g commented on #3
I confirm, the problem is solved. Thank you. Now I get:

2015/11/30 10:18:22 INFO : Server 10.0.0.2:3306 is dead.
2015/11/30 10:18:22 ERROR: No slaves were detected.

No more panic.

[2015-11-30 10:12] swar0g opened #4 "ERROR: No slaves were detected"
Sorry to bother you again, but I still have problem with my configuration. Structure looks like following:

3 servers: 1 maxscale (10.0.0.1), 1 mariadb master(10.0.0.2), 1 mariadb slave(10.0.0.3).

Simple test to exchange master-slave fails with following output:

__replication-manager -user user:user -rpluser replica:repl1ca -hosts 10.0.0.2:3306,10.0.0.3:3306 -failover=force -verbose__

Was looki

[2015-12-05 15:27] #3 closed

[2015-12-05 15:34] tanji commented on #4
I think your user (user:user) might lack privileges to read the slave status on the slave.

I have a Work Item which is to check that the user account has correct permissions to operate replication-manager. Can you please try the following from the box where you execute repmgr?

`mysql -u user -p -h 10.0.0.3 -e "SHOW SLAVE STATUS"`

Another unrelated thing, but if you want to exchange master and s

[2015-12-07 09:30] swar0g commented on #4
That was the first thing I thought of, but it is not. User has all the privileges and the right output is shown. I have added some breakpoint into code and was able to catch the following error:

missing destination name Replicate_Do_Domain_Ids

after dbhelper.GetSlaveStatus(sm.Conn).

Relative line in slave status looks like:

Using_Gtid: Current_Pos
Gtid_IO_Pos: 1-1-1
Replicate_Do_Domain_Ids:
Re

[2015-12-07 11:01] swar0g commented on #4
Forgot to mention, it could be important: I am using the following version:

mysql  Ver 15.1 Distrib 10.1.9-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2

[2015-12-07 14:32] tanji commented on #4
Ah, that explains all. It is not 10.1 compatibility-tested yet, however the fix should be very easy (Indeed there are a few changes in SHOW SLAVE STATUS). I'll commit the fix later today if I'm not too busy with other things. Thanks for reporting that!

[2015-12-08 19:23] tanji commented on #4
Hi!

Please update the mariadb-tools external dependency:

`go install github.com/tanji/mariadb-tools`

And rebuild replication-manager.
You shouldn't get this error anymore.

[2015-12-09 09:53] swar0g commented on #4
I confirm, the issue is solved. Thank you very much. But, unfortunatelly, I sitll have problems running replication-manager, at the moment output looks like following:

**replication-manager  -user user:user -rpluser replica:replica -hosts db1,db2 -switchover=keep -interactive=false -verbose**

and in failover mode (with master db1 stopped)

**replication-manager  -user user:user -rpluser replica:

[2015-12-09 19:38] tanji commented on #4
is db1 supposed to be down when you initiate failover? I see that detected:
2015/12/09 10:51:39 INFO : Server db1 is dead.

[2015-12-10 08:45] swar0g commented on #4
Yes, it supposed to be down. I thought it is the main idea behind failover: master goes down, one of the slaves becomes master role, and switchover is just degradation of active master to slave, isn't it?

[2015-12-10 09:27] tanji commented on #4
Right, just wanted to confirm. I am testing in a lab with MariaDB 10.1 right now, I'll keep you posted.

[2015-12-10 10:59] swar0g commented on #4
Thanks. I was able to fix my pb with following changes:

[2015-12-10 12:05] tanji commented on #4
Yes, you are right, the test was wrong. I'll fix this in next release. Thanks!

[2015-12-11 08:25] swar0g commented on #4
Thank you . The issue is then closed.

[2015-12-11 11:17] tanji commented on #4
Fixed in 36cb7fd08c45c0b8c2e1a2b589c4175ac2cde7c1, thanks for reporting!

[2015-12-11 11:17] #4 closed

[2015-12-15 09:54] jerrylin0 opened #5 "Could not autodetect a failed master"
Hi ,
When I use command as below ,I got an error message : "Could not autodetect a failed master!"
./mariadb-repmgr -user dba:dba -rpluser rep:rep -hosts db1:3307,db2:3307,db3:3307 -prefmaster=db2:3307 -failover=force
or
./mariadb-repmgr -user dba:dba -rpluser rep:rep -hosts db1:3307,db2:3307,db3:3307 -prefmaster=db2:3307 -switchover=keep

The first command I can executing on 0.4.1 version but the

[2015-12-16 08:29] tanji commented on #5
It seems similar to #4. Can you build the latest version and try again?

[2015-12-17 15:29] tanji commented on #5
Fixed in 0.5.2.

[2015-12-17 15:29] #5 closed

[2016-03-01 17:37] tanji opened #6 "Fix documentation"
The documentation and examples are out of date.

[2016-03-08 02:02] jerrylin0 opened #7 "The failover.sh script can not work with MRM 0.52 version"
Hi ,
I am testing the MRM 0.52 version.
I using the failover.sh script to failover (https://mariadb.com/blog/mariadb-automatic-failover-maxscale-and-mariadb-replication-manager) , and I also change the failover option = 'force'.
When the master down ,I got a message : "ERROR: None of the switchover or failover modes are set."
Then I output the cmd command ,the command can't get the $nodelist varia

[2016-03-08 02:20] jerrylin0 opened #8 "The switchover is not work ."
Hi ,
I am testing the MRM 0.52 version.
When I want to do switchover in my lab ,I got an error mesage : "ERROR: Could not autodetect a master!"
My mrm command is "/mariadb/software/mrm/mariadb-repmgr -hosts=mdb1:3306,mdb2:3306,mdb3:3306 -user=admin:admin -rpluser=rep:rep -prefmaster=mdb2:3306 -switchover=keep"

Does my mrm command is wrong ?
If I want to switchover ,how should I use the mrm option

[2016-03-08 13:17] tanji commented on #8
Hi Jerrylin,

your command is right, maybe it is a problem with the autodetection.

can you add -verbose to the command to generate a log and paste it here?

[2016-03-08 13:20] tanji commented on #7
Don't use 0.52 it is buggy for failover, I will release a new version later today.

[2016-03-09 01:53] jerrylin0 commented on #8
Hi ,
The detailed log as below:
/mariadb/software/mrm/mariadb-repmgr -hosts=mdb1:3306,mdb2:3306,mdb3:3306 -user=admin:admin -rpluser=rep:rep -prefmaster=mdb2:3306 -switchover=keep -verbose
2016/03/09 09:45:33 DEBUG: Creating new server: mdb1:3306
2016/03/09 09:45:33 DEBUG: Checking if server mdb1:3306 is slave
2016/03/09 09:45:33 DEBUG: Server mdb1:3306 is configured as a slave
2016/03/09 09:45:33

[2016-03-09 01:58] jerrylin0 commented on #7
Hi ,
Thank you .
Waiting for your good news .

[2016-03-09 05:43] tanji commented on #8
Hi Jerry,

I think this happens because master1 is detected as a slave:

`2016/03/09 09:45:33 DEBUG: Server mdb1:3306 is configured as a slave`

Please reset the slave configuration on mdb1 by using `RESET SLAVE ALL` statement.

[2016-03-09 09:26] jerrylin0 commented on #8
Hi ,
Thank you.
The switchover function is work .

[2016-03-11 12:29] tanji commented on #7
Hi Jerrylin,

Try the new 0.6.0 version: https://github.com/mariadb-corporation/replication-manager/releases/tag/0.6.0-dev

The flags have been changed to POSIX compatible (-- instead of -) so make sure to change at.

Also see https://github.com/mariadb-corporation/replication-manager/blob/0.6/README.md for new options.

This version has been very stable for me and corrects many bugs present in 0.

[2016-03-11 12:29] #8 closed

[2016-03-11 12:29] #6 closed

[2016-03-11 20:05] himbeere opened #9 "version 0.60 ERROR: Could not autodetect a master!"
Hello.

I have a problem with the brandnew 0.60 version. Here is what i try:

[code]

That gives:
[code]

With 0.52 this works just fine. Maxscale looks good too.

[code]

Any hints?

thanks and cheers
t.

[2016-03-12 13:48] himbeere commented on #9
Wow. Just noted that the above command works if i append a "--verbose". That's really strange. If i can be of any help debugging this please just ask. Will test more now.

cheers
t.

[2016-03-12 14:01] himbeere commented on #9
Hello.

Is it possible i need 3 servers for using replication-manager? With a regular master / slave setup i can't switch.

[code]

[2016-03-13 14:31] jerrylin0 commented on #7
Hi Guillaume,

Thank you .
I will test this version .

[2016-03-13 14:39] jerrylin0 commented on #9
Hi ,

Maybe you can use prefmaster option to choice a master.

[2016-03-13 18:29] himbeere commented on #9
Hi Jerrylin0.

Setting prefmaster does not change things.

Really strange thing is with the --verbose option it works.

[code]

[2016-03-14 04:06] jerrylin0 commented on #9
Hi All ,

When I test the switchover function ,I also got the fail .
The error message as below :
2016-03-14 11:58:19 INFO : Slave mdb1:3306 [0] has been elected as a new master
 2016-03-14 11:58:19 DEBUG: Election rig: mdb1:3306 elected as preferred master
 2016-03-14 11:58:19 DEBUG: Checking eligibility of slave server mdb1:3306
 2016-03-14 11:58:19 DEBUG: Processing 2 candidates
 2016-03-14 11:

[2016-03-15 09:11] tanji commented on #9
Hi @himbeere !
There was something which was put accidentally in a verbose check, and since I test all the builds in verbose mode, this one went through... :/

Please download the last version, it contains the fix. Sorry for this.

@jerrylin0 : can you open a different bug case? Thanks

[2016-03-15 09:11] #9 closed

[2016-03-15 09:22] tanji commented on #7
Hi @jerrylin0 ,
Please try the latest version and tell me if it fixes your issues.

[2016-03-15 09:34] himbeere commented on #9
Hi @tanji

I suppose you're in the process of uploading a new version? Just asking because latest version seems to be 0.60 from 4 days ago.

thanks and cheers
t.

[2016-03-15 10:06] himbeere opened #10 "switchover fails with "Error splitting GTID: 1-4134630-7,2-4134631-1""
Hello @tanji

Got the next problem. :-) Version 0.61 now. But the problem seems to exist in 0.52 and 0.61 too.

I am trying to switchover with:
[code]

What i get is:

[code]

Any idea what can be the cause of this?

[2016-03-15 10:14] tanji commented on #9
Check it out here
https://github.com/mariadb-corporation/replication-manager/releases/tag/0.6.1

[2016-03-15 10:45] tanji commented on #10
Yes, as stated in release notes multiple domains are not (yet) supported, however I should work on this this week, if time permits!

[2016-03-15 10:49] himbeere commented on #10
Hm. I guess i don't understand. What do you mean by "multiple domains"? Sorry if i sound stupid.

thanks and cheers
t.

[2016-03-15 10:58] tanji commented on #10
No problem at all, in your setup you use two GTID domains:
 2-4134631-1,1-4134630-7
Gtid Domain ID is the first component of GTID, so you use domains 1 and 2.
Is there a reason for that? Are you trying to set up some kind of master-master configuration? I assume that both those servers (4134631 and 4134630) must have been replicating from each other in the past.

[2016-03-15 11:22] himbeere commented on #10
Okay, i guess i have to read a little bit about gtid. After setting gtid-domain-id = 1 on both servers and resetting the slave everything works. Maxscale detects the new master as such and so on. Cool stuff!

thanks and cheers
t.

[2016-03-15 15:01] tanji commented on #10
No problem! thanks for opening an issue.

[2016-03-15 15:01] #10 closed

[2016-03-16 09:29] banpei-dbart opened #11 "Go error during failover: slice bounds out of range"
I'm testing MRM at the moment and I'm getting the following error when failing over manually:

I tried to resolve it but Go isn't one of my used languages. I saw you didn't touch the termlog.go file in the past 5 months, but did change the behavior of logging in display.go. It seems to be a problem with somewhere exceeding the length of the TermLog.

I also had a different issue with the MaxScale/

[2016-03-16 11:22] sysdljr opened #12 "auto failover?"
if  only one master and one slave , when master down ,  it can't  failover ?

[2016-03-16 11:31] tanji commented on #11
Hi,

Yes, I can see the problem, although I am not sure why it occurs - I have never encountered this issue myself. I will release a fix.

For MaxScale, yes, it is indeed a problem - I will talk to the MaxScale team about this.

Thanks for reporting!

[2016-03-16 12:38] banpei-dbart commented on #11
Thanks!
For now I prepended the hosts with the $initiator and this should work in theory.

[2016-03-16 12:39] #11 closed

[2016-03-16 12:43] tanji commented on #7
Hi @jerrylin0,

try version 0.6.2, it should fix the bug that you encountered.

[2016-03-16 12:43] #7 closed

[2016-03-16 12:46] banpei-dbart commented on #11
Just pulled the latest version, compiled it and it works now:
sudo /usr/local/bin/replication-manager --user=root:toor --rpluser=repl:repl --hosts=10.10.18.11:3306,10.10.18.12:3306,10.10.18.13:3306 --failover=force --interactive=false --logfile=/var/log/failover.log
2016/03/16 14:43:05 INFO : Server 10.10.18.11:3306 is dead.
2016/03/16 14:43:05 INFO : Starting master switch
2016/03/16 14:43:05 INF

[2016-03-16 12:46] tanji commented on #12
with only one master and one slave, failover will work. Example below (112 was the initial master):

[code]

[2016-03-16 12:47] himbeere commented on #11
Ran into the same problem. Can we have a new release for this @tanji?

thanks and cheers

[2016-03-16 12:48] himbeere commented on #11
@tanji just saw there is already one. You are too fast for me. :-)

[2016-03-16 14:15] tanji commented on #11
@banpei-dbart I heard from the MaxScale Team that this change of behavior was wanted, so I have to update my failover instructions as well, it seems... sorry for that.

[2016-03-16 16:36] banpei-dbart commented on #11
No problem. Thanks for asking them! :)

[2016-03-17 05:31] jerrylin0 opened #13 "[0.6.2]Failover and switchover are failed : invalid memory address or nil pointer dereference"
Hi ,
The failover and switchover functions are failed .
The failover error message as below :
2016/03/17 12:21:57 INFO : Server mdb1:9801 is dead.
2016/03/17 12:21:57 INFO : Starting master switch
2016/03/17 12:21:57 INFO : Electing a new master
2016/03/17 12:21:57 INFO : Slave mdb2:9801 [0] has been elected as a new master
panic: runtime error: invalid memory address or nil pointer dereference
[s

[2016-03-17 07:32] tanji commented on #13
Hi @jerrylin0

Which command have you been using?

[2016-03-17 07:39] jerrylin0 commented on #13
Hi ,
./replication-manager --hosts=mdb1:9801,mdb2:9801,mdb3:9801 --user=dba:dba --rpluser=rep:rep --prefmaster=mdb2:9801 --failover=force

and

./replication-manager --hosts=mdb1:9801,mdb2:9801,mdb3:9801 --user=dba:dba --rpluser=rep:rep --prefmaster=mdb2:9801 --switchover=keep

[2016-03-17 10:32] #13 closed

[2016-03-17 10:34] tanji commented on #13
Please try new version 0.6.3

[2016-03-17 11:44] sysdljr commented on #12
Thank you very much.  I plan to test and apply to product environment.
Besides, replication-manager have rpm install package In the future?

[2016-03-17 12:44] tanji commented on #12
I can certainly do RPMs in the future. I will consider this as a request.

[2016-03-18 02:21] jerrylin0 commented on #13
Hi Guillaume,

Thanks for your hard work .
I had test the failover and switchover functions ,now they can work without any error log .

But in failover.sh script ,it can not receive the $nodelist  variable.
Which one is wrong cause,Maxsacle , MRM or failover script?

[2016-03-18 03:25] sysdljr opened #14 "replication-manager 0.6 question?"
replication-manager --version
MariaDB Replication Manager version 0.6.3

master: 172.28.14.118  mariadb 10.0.23
slave:   172.28.14.114   mariadb 10.0.23

Both master and slave service normal,  read and write not problem too, But execute replication-manager at below:
replication-manager --user=root:123456 --rpluser=root:123456 --hosts=172.28.14.118:3306 --failover=force --socket=/home/mtest1/data/m

[2016-03-18 05:26] sysdljr commented on #14
Sorry. Just found two machines config dual master , Besides 172.28.14.118 is master,  it is too 172.28.14.114 slave.
replication-manager consider to add Judgment condition for dual master in the future. Thanks

[2016-03-18 10:02] tanji commented on #14
OK. Closing this for now

[2016-03-18 10:02] #14 closed

[2016-03-18 10:03] #12 closed

[2016-03-18 10:12] tanji commented on #13
Hi Jerry,

thanks!

MaxScale have changed the way they handle this in 1.3.0, so you should not use the failover script anymore. Instead you should use this:

[code]

Let me know if that works for you.

[2016-03-20 05:35] jerrylin0 commented on #13
Hi Guillaume,

This script command also can not work .
I had test to print the two variables of  $INITIATOR and $NODELIST,I got  the null both the two variables.

--Jerry

[2016-04-03 04:10] jerrylin0 opened #15 "Both failover and switchover are failed"
Hi ,

A few days ago ,I test the MRM-0.6.3 with failover and switchover .
When I want to do failover via Maxscale ,the mrm show message "could not autodetect a failed master" , I'm sure the master is down and the slaves are live .

When I want to do switchover ,the mrm show message "no suitable candidates found" ,I have use --prefmaster option to choice the new master .

I want to reproduce the tw

[2016-04-03 08:20] tanji commented on #15
Hi!

Can you copy the maxscale configuration you use for this failover setup, especially the script= line?
Do you have a mrm.log file? you can activate it with --logfile=/var/log/mrm.log, for example.

[2016-04-07 06:19] jerrylin0 commented on #15
Hi ,
Today I re-configure my failover.sh script and I can do failover and switchover well .
Thanks for your help.

[2016-04-07 06:19] #15 closed

[2016-04-14 08:01] hugochinchilla opened #16 "Replication manager does not support named connections"
I cannot use this tool because of `SHOW SLAVE STATUS` returns no information on my slave as the replication is configured using a named connection and instead it should do `SHOW SLAVE 'foobar' STATUS`.

Instead of suggesting to add a parameter to set the connection name I would suggest to add an argument to allow setting arbitrary variables onto the session like I can do with pt-table-checksum, th

[2016-04-14 10:33] tanji commented on #16
Hello,

sure! this sounds like a reasonable request... However, regarding the default master connection, I think it is worth having a parameter just for it, because this is something we might want to use, especially in 0.7 where configuration files are supported.

[2016-04-14 12:13] hugochinchilla commented on #16
Ok, I have a coworker (@servomac) working on a PR, for now we will drop de idea of --set-vars and work on a flag to set the connection name, in a few hours it might be ready .

[2016-04-15 16:08] servomac commented on #16
We have a first functional implementation using the --master-connection flag, relying on a fork of dbhelper (that adds some functions for named connections).

https://github.com/Habitissimo/mariadb-tools/commit/1367368c8d03a610157ac01876874d9dbf665dd5
https://github.com/Habitissimo/replication-manager

[2016-04-18 14:09] banpei-dbart opened #17 "Keep state of the last failover in non-interactive mode"
If MRM is used in interactive mode there is a limit on the number of failovers that it does and this number is obviously kept somewhere inside the application as a state. However when using MRM with MaxScale it is used as a single failover and exits after performing the task and thus it doesn't keep state. This could lead to flapping issues.

If you would be able to keep the state of the previous

[2016-04-18 15:04] tanji commented on #17
Good point. I'll implement something!

[2016-04-18 15:08] tanji commented on #16
I'll probably have to implement the functionality in a different manner in 0.7, because your patch changes too many things. Until then I will leave this issue open.

[2016-04-18 16:57] hugochinchilla commented on #16
We tried to touch the bare minimum to make it work, how would you sugest to make the changes? We would prefer to submit a PR than you can accept so we can forget about maintaining a fork.

[2016-04-18 17:46] tanji commented on #16
I have modified the code extensively in 0.7, so there's a lot of stuff which is gone and replaced etc.
I'd rather make the changes based on your fork so you can make it work with very minimal changes. Trust me :)

[2016-04-18 18:04] hugochinchilla commented on #16
Ok, we didn't notice the 0.7 branch, we can make the PR against that branch after a review if you want.

[2016-04-22 10:58] tanji commented on #16
Fixed in https://github.com/mariadb-corporation/replication-manager/commit/7d97353388bdd7c17594421f81045794581def23

[2016-04-22 10:58] #16 closed

[2016-04-26 07:06] hugochinchilla commented on #16
Thank you very much @tanji, that was quick ;)

[2016-05-13 17:04] svaroqui opened #21 "Add sysbench control in web interface"
Add parameters
sysbench_binary=
sysbench_host=
sysbench_port=
sysbench_threads=

The web interface would enable to run sysbench and report a graph from power of 2 up 2 sysbench_threads

The docker integration of mrm-maxscale-keepalived-sysbench-xtrabackup  would make it a nice service

[2016-05-13 18:09] svaroqui opened #22 "Add binlog control"
purge_master_binlog=1

When enable this option auto purge master log until the most late slave

purge_relay_log=100000

When enable this option stop io_threads when events in relay log > 10000   on the slaves to have disk space limit usage when sql_thread catchup  io_threads are restated

[2016-05-20 10:16] valeriikravchuk opened #23 "Add basic build instructions to README.md (or elsewhere)"
From my recent experience one has to do at least the following to build replication manager (I've used Fedora 23):

If go is missing:

sudo yum install golang-bin
export GOPATH=<some path>

Then:

git clone https://github.com/mariadb-corporation/replication-manager.git
cd replication-manager
go get github.com/go-sql-driver/mysql
go get github.com/nsf/termbox-go
go get github.com/tanji/mariadb-tool

[2016-06-06 15:16] #23 closed

[2016-06-10 18:34] michaeldg opened #24 "Please implement slave catchup timeout instead of gtidcheck"
Currently the documentation (in --help) of the --gtidcheck feature is unclear. It would be more useful if there was a timeout instead of a switch for this.

The timeout should determine how long mrm waits until it considers the slave to be too far out of sync to do the switchover. I think a default of 30 seconds is good in most cases.

[2016-06-10 18:35] michaeldg opened #25 "Read .my.cnf file"
I have my credentials in ~/.my.cnf. Please implement them to be used.

[2016-06-10 18:38] michaeldg opened #26 "Add documentation for required permissions"
Please add documentation for which permissions are required for the 'root' user

[2016-06-10 18:58] michaeldg opened #27 "Cannot connect to node error: Pleasse add hostname"
I was unable to connect to db4 (mysql schema is not replicated and I forgot to add credentials there). It would save me a fair bit of time if the error said the issue was at db4.

mariadb@maxscale01:~$ ./go/bin/replication-manager --hosts=db1,db2,db3,db4 --user=replication_manager:..... --rpluser=slave_user --interactive --switchover=keep
2016/06/10 13:54:51 ERROR: Database access denied: Error 10

[2016-06-10 19:15] michaeldg opened #28 "--set-vars to allow usage with multi source replication"
Please implement --set-vars (like all percona tools have) to allow usage with multi source replication.

For example: --set-vars="default_master_connection=stream2"

[2016-06-10 19:26] michaeldg opened #29 "Check if replication credentials work before starting"
Please implement a check that the replication credentials work.

For example, I forgot to add a password and the failover did not work.

[2016-06-10 21:50] michaeldg opened #30 "Error when splitting GTID when failing over"
Master Host   Port                              Current GTID      Binlog Position  Strict Mode
     a-db2   3306                           0-203-4,1-11-13      0-203-4,1-11-13          OFF

     Slave Host   Port  Binlog   Using GTID         Current GTID           Slave GTID   Replication Health  Delay  RO
     a-db1   3306      ON    Slave_Pos      0-203-4,1-11-13      0-203-4,1-11-13           R

[2016-06-10 21:54] michaeldg commented on #30
I guess this is due to mrm not supporting multiple domains?

[2016-06-10 22:06] michaeldg opened #31 "--ignore-servers is not honored after failover took place once"
Please be aware I am running a small hack, https://github.com/michaeldg/replication-manager/blob/master/misc.go:49, getSeqFromGtid always returns 1. This is to work around issue https://github.com/mariadb-corporation/replication-manager/issues/30.

The first failover I executed worked perfectly, the comamnd I used was:
./go/bin/replication-manager --hosts=a-oltp01,a-oltp02,b-oltp01,b-oltp02 --user

[2016-06-13 11:04] psachin-ic opened #32 "replication-manager doesn't work with Amazon RDS, maxscale"
I tried to use replication-manager on my two Amazon RDS host but it errored out with Super privilege.
Amazon RDS doesn't give SUPER privilege to RDS users.

/usr/local/bin/replication-manager --user=XXX:XXX123 --rpluser=XXXX:XXXX --hosts=TEST1.rds.amazonaws.com,TEST2.rds.amazonaws.com --failover=monitor
2016/06/13 10:50:11 ERROR: User must have SUPER privilege

Do we have any ways to proceed with

[2016-06-17 02:50] whatot commented on #27
In the code , `stmt := "SELECT Select_priv, Process_priv, Super_priv, Repl_slave_priv, Repl_client_priv FROM mysql.user WHERE user = ? AND host = ?"` is the key code.
So the wildcard doesn't work neither.
But there is no simple way to deal with the user and privilege problems in current codebase.

[2016-06-17 06:25] tanji commented on #27
@whatot you are right. thanks for spotting this one.

[2016-06-17 08:44] tanji commented on #25
In 0.7 branch, you should put your credentials in /etc/replication-manager/config.toml
Sorry since that is not documented at the time.

[2016-06-17 08:44] #25 closed

[2016-06-17 08:46] tanji commented on #28
That's not needed because that is already implemented in 0.7.
Use the --master-connection option.

[2016-06-17 08:46] #28 closed

[2016-06-17 08:48] tanji commented on #32
You cannot control the replication in RDS. Please see https://aws.amazon.com/rds/faqs/
If you want to control your own replication, please use AWS EC2 MariaDB images.

[2016-06-17 08:48] #32 closed

[2016-06-17 08:59] tanji commented on #30
Not supported at this time, but this is a priority goal for 0.7

[2016-06-20 07:37] singhdilip13 commented on #30
Hello Tanji,

I am facing error splitting GTID issue with 0.7 dev release also.

[root@maxscale ~]# replication-manager --hosts=mariadb1:3306,mariadb2:3306,mariadb3:3306 --user=root:root123 --rpluser=admin:mariadb failover --logfile=/var/log/mrm.log --verbose
2016/06/20 15:31:37 DEBUG: Creating new server: mariadb1:3306
2016/06/20 15:31:37 DEBUG: Checking if server mariadb1:3306 is slave
2016/06/2

[2016-06-20 08:21] tanji commented on #30
hi @singhdilip13 this is work in progress. It should be released in a couple of days. I'll keep you posted. Thanks for your interest in MRM

[2016-06-21 14:42] tanji commented on #30
Closed by commit ca4cb55ea61d56c0c44445b20cecc0465f6c0803

[2016-06-21 14:42] #30 closed

[2016-06-21 20:53] michaeldg opened #33 "No need to change GTID on slaves, breaks intermediate master setup"
Currently mrm changes the gtid_slave_pos on the slaves. I don't see why that is needed in normal operation.

The only exception I can imagine is if you failover a master and have to let it rejoin the cluster. However there is an easy fix for that situation: If there is not gtid_slave_pos present on a master that has to become slave, we have to do CHANGE MASTER TO MASTER_USE_GTID=current_pos;

If w

[2016-06-21 21:00] michaeldg opened #34 "--daemon should be a command"
I like the idea of the subcommands in mrm. Perhaps the --daemon switch in the monitor subcommand should be a separate command?

[2016-06-21 21:09] michaeldg commented on #31
I cannot reproduce this issue anymore on the 'gtidlist' branch.

[2016-06-21 21:09] #31 closed

[2016-06-21 21:12] michaeldg opened #35 "--ignore-servers is checked after doing sanity checks"
Although issue #31 is resolved, I do think there is a minor improvement to be made. The output of the failover command shows errors for servers that are ignored for master election. This alerted me a bit, it is because these sanity checks are executed before the ignored servers are ignored. (monitor.go:261)

I think it makes sense to first skip if server is ignored and then continue with the sanit

[2016-06-22 13:52] svaroqui opened #36 "Add a more check for thread_handling=pool-of-threads"
add an option

reject-write=max_connection | read_only  default lower_connection

if max_connection is set then
 thread_handling=pool-of-threads to pass failover check
 extra-port= is check to be the same as mrm connection port

Maxscale task
https://jira.mariadb.org/browse/MXS-778

[2016-06-22 14:03] hugochinchilla opened #37 "Cannot build Dockerfile on 0.7 branch because of go shitty package manager"
[code]

[2016-06-22 14:10] tanji commented on #37
Hi @hugochinchilla , it's not the fault of Go, I think... Maybe it's because of vendoring that has been introduced recently. I will look this up.

[2016-06-22 14:12] hugochinchilla commented on #37
The problem is tah go get will only look in the master branch, an the gtid package is only present in the 0.7 branch.

I made a fork to rename the branch and made it to work.

[2016-06-22 14:52] hugochinchilla opened #39 "runtime error: makeslice: len out of range"
When following the instructions in the [contrib/cluster-maxscale/README.md](/mariadb-corporation/replication-manager/blob/0.7/contrib/cluster-maxscale/README.md) file I get this error after all the other services have been started.
[code]

[code]

Passing `--daemon=true` in the command serves as workarround.

[2016-06-22 15:16] tanji commented on #37
Closed with ugly vendoring workaround

[2016-06-22 15:16] #37 closed

[2016-06-22 15:18] tanji commented on #39
@hugochinchilla I do not support anything that has been added to the contrib repository, as its name implies (probably got to add a disclaimer README for that, I reckon)
Feel free to post a PR if you think that should be fixed.

[2016-06-22 15:18] #39 closed

[2016-06-22 15:53] hugochinchilla commented on #37
Still not working for me (I've rebased my branch against yours):

[code]

[2016-06-22 16:08] hugochinchilla commented on #37
I fixed it here:
https://github.com/hugochinchilla/replication-manager/commit/584f0dae306a4e9434aca01cb98f9136ca758a4b

can't submit a PR because it would include another commit already present in PR #41

[2016-06-22 17:49] michaeldg commented on #33
Perhaps also gtid_current_pos should be used if gtid_current_pos is higher the gtid_slave_pos.

[2016-06-23 07:55] whatot opened #43 "electCandidate always elect the wrong node"
The problem is here, the ``max`` is always 0, so the function always eject the latest one.
https://github.com/mariadb-corporation/replication-manager/blob/master/monitor.go#L211

[2016-06-23 08:00] singhdilip13 commented on #30
Hello Tanji,

By when can we expect the new release because we need to implement this as earlier as possible.

[2016-06-23 08:12] tanji commented on #43
I'm sorry; how is it possible that Max is always 0? Max should be equal to the sequence number of the node, and as far as I know, it works well for all people using it.

[2016-06-23 08:13] whatot commented on #43
I add debug log here, it always 0

[2016-06-23 08:13] tanji commented on #30
@singhdilip13 the release is expected for October, but you can checkout the 0.7 code and build it.

[2016-06-23 09:27] tanji commented on #43
I can't see the debug log, sorry.

[2016-06-23 09:35] tanji commented on #34
It's debatable. Monitor and Daemon do exactly the same thing in code, the only difference is that the termbox isn't started...

[2016-06-23 09:36] tanji commented on #24
Doesn't --maxdelay <seconds> satisfy this requirement already?

[2016-06-23 09:53] singhdilip13 commented on #30
Can you help me to generate executable binary from source code. Also the source code available for version 0.7 have that GTID fix??

[2016-06-23 09:54] tanji commented on #30
sure thing, I'll do a beta release for you. just hang on for a while.

[2016-06-23 10:10] tanji commented on #30
Check out https://github.com/mariadb-corporation/replication-manager/releases/tag/0.7.0-beta3

[2016-06-23 10:16] singhdilip13 commented on #30
Thanks for the link.
One more thing in Master-Slave-Slave setup if master goes down then new_master is elected.
Now if slave is getting down i see error in mariadb log file saying that lost_master and vice versa in case of master failure it say lost_slave

[2016-06-23 10:38] tanji commented on #30
It seems that you are talking about MaxScale, not MariaDB; Am I right?

[2016-06-23 10:53] singhdilip13 commented on #30
Yes maxscale my mistake

[2016-06-23 11:06] tanji commented on #30
In this case I don't know about it, sorry. Are you using latest MaxScale 1.4.3?

[2016-06-23 11:20] whatot commented on #43
I add extra debug log in the eject step, after line 211.
[code]

[2016-06-23 11:29] tanji commented on #43
Can you post the output of MRM log while you're doing your failover or switchover?
Lack of info isn't exactly helpful at this time.

[2016-06-23 11:33] whatot commented on #43
[code]

[2016-06-23 11:36] tanji commented on #43
@whatot: Please run MRM with --verbose and --logfile option, and attach the whole log here.
Also please indicate which command you are using to start MRM.

[2016-06-23 11:42] tanji commented on #22
The second one is easy to do with  --relay-log-space-limit=size

[2016-06-23 11:49] whatot commented on #43
`replication-manager --hosts=db1.nutscloud.com,db2.nutscloud.com,db3.nutscloud.com --user=root:rootpass --rpluser=replicator:slavepass --gtidcheck=false --interactive=false --failover=monitor --verbose --logfile="./mrm.log"`
[mrm.txt](https://github.com/mariadb-corporation/replication-manager/files/329842/mrm.txt)

I use C-s to switchover master when sysbench is runing oltp test on the master seve

[2016-06-23 11:55] whatot commented on #43
@tanji  Every `Starting master switch` mean once C-s switchover.

[2016-06-23 12:31] tanji commented on #43
OK, sorry, this was fixed in 0.7 but the fix wasn't backported.
I did a 0.6 backport, please use latest release. Fixed in 7000b0a

[2016-06-23 12:31] #43 closed

[2016-06-23 16:58] michaeldg commented on #34
For the end user it's a completely different behaviour :)

[2016-06-23 16:59] tanji commented on #34
I doubt that typing "monitor --daemon" or "daemon" makes a big difference :)

[2016-06-23 17:03] michaeldg commented on #34
that is debatable - if you installed it and use --help, I would not guess to go to interactive mode if I want to start a daemon.

[2016-06-23 17:05] tanji commented on #34
If other users think this is relevant I will implement it.

[2016-06-23 19:38] michaeldg opened #45 "Mrm breaks if no transactions have been executed after a failover"
If MRM does a failover but no transactions have been executed afterwards the next failover does not work.

Also it will not work if only transactions from old school slave has been executed in between the 2 failovers (see MDEV-10279).

As this would not really happen in the wild I suggest adding a work-around: Please execute a bogus transaction _after_ the failover has succeeded.

[2016-06-24 05:39] tanji commented on #45
Could not reproduce, please provide test case.

MDEV 10279 is known. Workaround is to use slave-pos.

[2016-06-24 15:02] sysdljr opened #46 "one master and two slave failover question ?"
Hi,
    we use one master and two slave in replication-manager 0.6.4.
master: 172.28.14.114
slave:     172.28.14.118, 172.28.14.117

when we stop mysql service at 172.28.14.114,   Slave 172.28.14.117  elected as a new master,
172.28.14.118 as slave of 172.28.14.117 and replication normal.
but ,when we start mysql service at 172.28.14.114,  io thread show error:
Got fatal error 1236 from master whe

[2016-06-24 15:10] sysdljr commented on #46
after we execute command  below,  replication manager show  172.28.14.114 normal.
 stop slave; change master to master_host='172.28.14.117',master_user='rep_user',master_password='xxxxxx', master_port=3306,master_use_gtid=slave_pos;
start slave;

 MariaDB Replication Monitor and Health Checker version 0.6.3  |  Mode: Auto Failover

    Master Host   Port                              Current GTID

[2016-06-24 15:12] tanji commented on #46
Hi @sysdljr
Master reintroduction is a complex science... And it's not guaranteed that it will work in all cases.
As you see above in your example, master has diverged. Probably because when you stopped it, it was still receving traffic.
In this case old master data is inconsistent and should be re-bootstrapped from a new master backup.

How did you stop your old master? mysql shutdown? kill mysql

[2016-06-24 15:15] tanji commented on #46
What was the value of slave_pos before you execute CHANGE MASTER?

[2016-06-24 15:17] sysdljr commented on #46
Thank you rapid reply.
yes ,you is correct.  when we stop mysql ,  running sysbench test.
sysbench --test=/usr/share/doc/sysbench/tests/db/oltp.lua --num-threads=4  --mysql-host=172.28.14.91 --mysql-port=4006 --mysql-user=myuser --mysql-password=mypwd --mysql-db=test --max-time=0 --max-requests=0  --report-interval=1 --oltp-tables-count=4 run
we  stop mysql ：  /etc/init.d/mysql stop

[2016-06-24 15:22] tanji commented on #46
can you please test with 0.7.0-beta3?

[2016-06-24 15:23] tanji commented on #46
Just a clarification, I see a port 4006. Are you using MaxScale?

[2016-06-24 15:24] sysdljr commented on #46
show global variables like '%gtid%';

| Variable_name          | Value                      |
+------------------------+----------------------------+
| gtid_binlog_pos        | 0-118-1648609              |
| gtid_binlog_state      | 0-114-920937,0-118-1648609 |
| gtid_current_pos       | 0-118-1648609              |
| gtid_domain_id         | 0                          |
| gtid_ignore_duplicates |

[2016-06-24 15:25] sysdljr commented on #46
yes . we use maxscale 1.4.3

[2016-06-24 15:30] sysdljr commented on #46
Thank you again.
we should test  0.7.0-beta3.

[2016-06-24 15:46] svaroqui commented on #46
Hello sysdljr,

This is expected from assync replication if the replication is delay   because of high load on the master.

What can be done is to activate semisync and use parallel replication. use a big number of replication_threads on the slave something like may be 2 times the concurrency of sysbench

Try similar settings
thread_handling=pool-of-threads
extra-port=3307

# semisync
plugin-load=

[2016-06-24 15:51] sysdljr commented on #46
svaroqui, Thank you too,  I will test  semisync

[2016-06-24 16:01] tanji commented on #46
@sysjdir: in maxscale.cnf what is the value of monitor_interval ?

[2016-06-25 01:10] sysdljr commented on #46
monitor_interval is default value:  10000

mysql monitor config:
[MySQL Monitor]
type=monitor
module=mysqlmon
servers=server1,server2,server3
user=myuser
passwd=mypwd
monitor_interval=10000
events=master_down
detect_replication_lag=true

we have not add monitor script in maxscale . if add monitro script , Is it the fromat at below ?
script=/usr/local/bin/replication-manager --user root:xxx --rplus

[2016-06-25 10:26] tanji commented on #46
@sysdljr so, your old master diverges because MaxScale needs max. 10 seconds to recognize that the topology has changed. In the meantime it continues sending writes to that server. You have two solutions:
1) Change the monitor_interval to a value that is possibly lower than the failover time. e.g. monitor_interval=500 (this value generally worked for me)
2) Don't use MRM as standalone and configur

[2016-06-25 12:14] sysdljr commented on #46
@tanji , thank you.

The time,  I have not  use MRM 0.6 as a standalone server.
I modify maxscale.cnf ,  when stop mysql at master (172.28.14.114),  not slave elected as a new master.  I can't confirm where have problem ?   please help ,thanks.

[MySQL Monitor]
type=monitor
module=mysqlmon
servers=server1,server2,server3
user=myuser
passwd=mypwd
monitor_interval=100
script=/usr/local/bin/replicati

[2016-06-25 13:01] sysdljr commented on #46
if use mrm0.7 script in maxscale.  when stop master ,  one slave elected as a new master, other slave change master to new master normal..
script=/usr/local/bin/replication-manager failover --user root:xxx --rpluser repluser:xxx --hosts $INITIATOR,$NODELIST --interactive=false

maxscale log contents:
2016-06-25 20:52:37   error  : Monitor was unable to connect to server 172.28.14.114:3306 : "Can't

[2016-06-27 07:40] tanji commented on #46
Yes that behavior is normal. If you use MRM with MaxScale, failover is one shot, so server1 cannot be reintroduced automatically. You have to restart it yourself.

For the 0.6 I have no idea. It would help if you add the options: --verbose --logfile=/tmp/mrm.log to the script and send the mrm.log file.

[2016-06-27 14:44] sysdljr commented on #46
@tanji, Thank you very much.
Just now, I use MRM 0.6 and add verbose and logfile options in MaxScale,
script=/usr/local/bin/replication-manager --user root:xxx --rpluser repluser:xxx --hosts $INITIATOR,$NODELIST --failover=force --interactive=false --verbose --logfile=/tmp/mrm.log
But ,After stop master, two slaves show status: Running, no have slave elected as a new master,  and /tmp/mrm.log is e

[2016-06-29 21:58] tanji opened #47 "Restarting an active master in interactive mode causes master to be reintroduced as slave"

[2016-07-02 13:02] sysdljr commented on #34
Hello  @tanji ,
I  advise to add daemon parameter too ,thank.

[2016-07-04 11:34] #17 closed

[2016-07-05 15:29] tanji commented on #47
Fixed in 1a879d4d54398cb6c334e112bd9a7b32319f45a0

[2016-07-05 15:29] #47 closed

[2016-07-05 15:41] tanji commented on #26
Fixed in 905c29e

[2016-07-05 15:41] #26 closed

[2016-07-05 15:43] #35 closed

[2016-07-06 12:29] #24 closed

[2016-07-06 12:31] tanji commented on #27
Actually the wildcard is correctly tested in dbhelper. However the credentials are not tested in repmgr.

[2016-07-06 13:47] #27 closed

[2016-07-11 07:18] willcn opened #49 "Switchover and Failover help messages are the same"
The differences between "switchover" and "failover" should be defined in the help messages more clearly. Currently, they are the same:

`wfong@willcn:~$ diff -u <(replication-manager switchover --help 2>&1) <(replication-manager failover --help 2>&1)
--- /dev/fd/63  2016-07-11 15:17:54.952259345 +0800
+++ /dev/fd/62  2016-07-11 15:17:54.952259345 +0800
@@ -1,7 +1,7 @@
 Trigger failover on a dead m

[2016-07-11 07:42] willcn opened #50 "Misleading Error Message: Error getting privileges for user root on server 127.0.0.1:3307: sql: no rows in result set."
When running the monitor:

replication-manager monitor --hosts=127.0.0.1:3307,127.0.0.1:3308,127.0.0.1:3309 --user=root --rpluser=r --verbose

I got this error message:

ERROR:ERR00015 Error getting privileges for user root on server 127.0.0.1:3307: sql: no rows in result set.

Turning on the general query log, I found out what queries this was after:

Execute SELECT Select_priv, Process_priv, Sup

[2016-07-11 08:00] willcn opened #51 "Switchover/Failover should print out a status of all listed hosts"
A Switchover/Failover event should show somewhere (maybe with just --verbose) all the candidate hosts listed, and perhaps a little something on why each one wasn't chosen. Anything would be helpful like: cannot connect, connection refused, replication in bad state, access denied, etc

I have no idea why :3307 was not listed/considered/etc.

wfong@willcn:~$ replication-manager switchover --hosts=12

[2016-07-11 08:24] #49 closed, assigned to nobody

[2016-07-11 08:50] willcn opened #52 "Topology is broken..."
wfong@willcn:~$ replication-manager topology --hosts=127.0.0.1:3307,127.0.0.1:3308,127.0.0.1:3309  --user=root --rpluser=r
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x28 pc=0x62f33d]

goroutine 1 [running]:
panic(0x992da0, 0xc82000e140)
    /usr/lib/go-1.6/src/runtime/panic.go:481 +0x3e6
github.com/mariadb-corporation/replication-manager/stat

[2016-07-11 08:52] willcn opened #53 "FR: Dashboard: Be able to specify preferred master when switching over"
When using the dashboard, it would be great if I could specify which host to switchover to. A simple input box :)

[2016-07-11 09:20] willcn opened #54 "SLA Uptime updates too frequently"
On my completely idle system, the SLA Uptime updates too frequently, which makes the value bounce around from 99.94 to 99.99999. This is a bit distracting, and also less reliable.

I'm not sure what the purpose of this information is, so I'm not sure what to recommend as a fix. But it should at least take a longer sample.

Thanks,
-will

[2016-07-11 13:24] tanji commented on #53
Agreed. I think we can implement it for this version.

[2016-07-11 13:25] tanji commented on #54
Fixed in 7dc7193cdf461d35537a75205f248622a0834892

[2016-07-11 13:25] #54 closed, assigned to nobody

[2016-07-11 13:26] tanji commented on #50
Fixed in a19b63964ab464afad976a78453668ea49ddb905

[2016-07-11 16:06] willcn opened #55 "FR: Dashboard: Notification when not connected"
Feature request. The dashboard needs to have some sort of warning when it's not connected to the monitor anymore. Otherwise, if I'm only looking at the dashboard, I wouldn't know if the monitor daemon has stopped and not providing up to date information.

[2016-07-11 16:14] willcn opened #56 "Error with Monitor: Preferred master is not included in the hosts option"
I don't quite understand this error message:
Preferred master is not included in the hosts option

wfong@willcn:~$ replication-manager monitor --hosts=127.0.0.1:3307,127.0.0.1:3308,127.0.0.1:3309 --user=root --rpluser=r  --http-server --http-root=go/src/github.com/mariadb-corporation/replication-manager/dashboard --autorejoin --prefmaster=127.0.0.1:3308,127.0.0.1:3309
2016/07/12 00:09:40 ERROR: Pr

[2016-07-11 16:16] tanji opened #57 "Images for README"
![mrmdash](https://cloud.githubusercontent.com/assets/971260/16737848/807d6106-4793-11e6-9e65-cd86fdca3b68.png)

[2016-07-11 16:20] willcn opened #58 "Doc Request: How it works and which is the next master"
It would be great to get some general documentation on how MRM is designed to work.

The most important part is, when doing a failover, what are the exact steps MRM uses to determine which host to fail over to.

Great respect to Mr. Matsunobu for the architecture documentation for MHA (https://code.google.com/p/mysql-master-ha/wiki/TableOfContents?tm=6)

[2016-07-11 16:21] tanji commented on #57
![mrmconsole](https://cloud.githubusercontent.com/assets/971260/16738035/45f2bbf2-4794-11e6-8286-65f9a3179e31.png)

[2016-07-12 04:10] willcn opened #59 "FR: Monitor needs a Ctrl+H Help"
Monitor should have a Help command that lists all available commands.

[2016-07-12 08:34] #52 closed, assigned to nobody

[2016-07-12 08:42] tanji commented on #56
prefmaster works as documented:

Preferred candidate server for master failover, in host:[port] format

In the case above it does not work because you've specified multiple candidates. Prefmaster supports exactly one server spec (I should probably add a test for that).
If you want to ignore servers, use the --ignore-servers option.

[2016-07-12 08:47] #56 closed, assigned to nobody

[2016-07-12 10:36] #55 closed, assigned to nobody

[2016-07-13 02:31] willcn opened #60 "FR: Toggle On-Call/On-Leave via console monitor"
The Web-based Monitor can toggle --interactive, but doesn't seem like the console-based monitor can do it (not listed in the README). It would be great to have the same ability in both places. This helps when running the console monitor under screen.

Thanks!

[2016-07-13 06:50] #60 closed, assigned to nobody

[2016-07-13 09:48] willfong opened #61 "On-Call/On-Leave changes need to be logged somewhere"
Changing the On-Call/On-Leave modes needs to be logged for accountability. That way when MRM didn't failover, I know it was because I forgot to set the status correctly.

[2016-07-13 11:50] #61 closed, assigned to nobody

[2016-07-14 01:51] willfong opened #62 "MRM doesn't like small terminal windows"
This is a very low priority issue.

Not sure if this is related to MRM or Go, but it seems like MRM doesn't want to start/run with a terminal window less than 18 lines (this is running with OSX workstation/terminal, ssh'd to a Ubuntu 16.04 VM where MRM is running). When resizing a window below, I get this crash:

panic: runtime error: makeslice: len out of range

goroutine 1 [running]:
panic(0x991

[2016-07-14 02:11] willfong opened #63 "Topology requires rpluser?"
Why does the topology command require the replication user since it already has the root user?

I consider this a bug/issue because it would be best to require the least amount of commands to run. If I change the password for the replication user, I would have one less command to update.

Thanks,
-will

[2016-07-14 09:10] tanji commented on #59
Fixed in 4bd0182f2542615aad3b7a6e99a6a3e9e5a54fce

[2016-07-14 09:10] #59 closed, assigned to nobody

[2016-07-14 09:18] willfong opened #64 "FR: Be able to specify a configuration file during startup"
We should be able to specify a configuration file from the command line. Having it hard coded to /etc means we need root to configure MRM.

[2016-07-14 11:15] tanji commented on #64
Hi willfong,

I have something in the works for this, but doing it with spf13/viper (the conf library) is proving to be difficult. I have to take some time to work on it.

[2016-07-14 14:53] tanji commented on #63
That's due to changes we made recently. Thanks for spotting this.

[2016-07-22 11:00] krissfr opened #66 "compatibility"
Hello,

I know this is a MariaDB tool, but can we use it we Oracle MySQL replication or Percona MySQL replication ?

could the interactive option be put in the config.toml ?

will you do a service for SystemD to start the replication-manager monitor ?

It's a great tool, merci beaucoup Guillaume et Stéphane ! :)

[2016-07-22 11:03] tanji commented on #66
Hello @krissfr,

Thanks for the good words!

yes, interactive has been added to the configuration file in a recent commit. You should build from source if you want to have this feature, or I can drop you a RPM or DEB.

We will have a systemd service file shortly, I think Stéphane already wrote it.

Regarding Oracle GTID support, I think there are comparable tools that might fill the void but I am

[2016-07-22 11:21] krissfr commented on #66
Thank you for your quick answer :)

don't bother you to build a new package, i can wait the next beta-release. Do you have an expected date for the 0.7 stable release ? Maybe a gift for my birthday (last week of August) ^^

[2016-07-25 07:49] krissfr opened #67 "MRM monitor RESTful API"
Hello,

do you will implement a RESTful API to get server status or arbitrator status with JSON output ?

thanks,

Regards,

Krissfr

[2016-07-25 07:52] krissfr commented on #67
Sorry, i'm looking in the code a found that's already exist !!

Thanks again for this wonderfull tool ! :)

[2016-07-25 07:52] #67 closed, assigned to nobody

[2016-07-25 08:12] tanji commented on #67
No problem, httpserver.go implements this in some capacity :) Happy to help if you need more answers.

[2016-07-27 17:49] wrestle1 opened #68 "Force a failover"
It would be nice if there was a command line option to force a failover.  In this situation there could be data loss, but in the case of a 2 system configuration when the master dies, it is the only alternative.  It can be done manually (set global gtid_slave_pos = "") and then start the slave, but in an fully automated environment, data loss may be acceptable to avoid unavailability.  This is a r

[2016-07-27 17:53] wrestle1 opened #69 "Support certificate-based authentication"
Passing and/or storing unencrypted passwords in becoming more and more unacceptable.  It would be nice if the application supported certificate based authentication.  An alternative would be to have a callback that can retrieve a password from a secure source.

[2016-07-27 17:58] svaroqui commented on #68
Hello wrestle1,

Thanks for trying out replication-manager!

That's exactly the case , may be something should be fix with the documentation, that you   miss that point   , there are few cases where you can't failover they are rare
- you have no slaves at all
- you have set a replication delay  <>0
- you have already failover x times

In interactive mode , replication is asking you to confirm fail

[2016-07-27 18:15] svaroqui commented on #69
a certificate won't solve the security risk  , it is the same role as a password but adding on top a trusted authority and an expiration date. I will have to think more on the issue to come to some solutions

[2016-07-27 18:17] svaroqui commented on #69
May be something like a 2 Step Authentification to retrieve those password by SSL

[2016-07-27 18:42] wrestle1 commented on #68
I tried interactive=0 and it didn't work.  I probably am not describing my scenario properly.

Monitor believes a replication topology exists.  When I try a failover from the monitor is says no suitable candidates found.  If I do a show slave status on the slave, it show that there is an error condition (error 1236).  My hope was to be able to force the switchover/failover.

Interactively I do not

[2016-07-27 18:53] svaroqui commented on #68
Ok i see and will fixed it

[2016-07-27 18:59] wrestle1 commented on #68
Awesome.  Thanks for the quick response.

[2016-08-05 08:09] krissfr opened #70 "FailoverTS reset when FailoverCtr is reset"
Hello,

Could you reset the FailoverTS when resetting FailoverCtr ?

Regards,

Krissfr

[2016-08-05 09:38] krissfr opened #71 "mrm monitor doesn't toggle to manual mode when failover-limit is reached"
Hi,

I'm use the RC1 with daemon =1 and interactive = false (i use the web UI).

When failover counter reach the failover limit, the monitor (arbitrator status) is still in on-leave (auto) mode but it should toggle to on-call (manual).

Because of that, automatic failovers continue instead of displaying the failover red button.

Regards,

Krissfr

[2016-08-08 10:31] tanji commented on #70
Hi Kriss, would that have any kind of use?

[2016-08-08 10:32] #71 closed, assigned to nobody

[2016-08-08 10:47] krissfr commented on #70
Hi Guillaume,

I wrote a template monitoring for Zabbix and so monitor the FailoverTS (if thereis a failover during the last hour).  When a failover occur, if the operator that will check the MRM logs can reset the FailoverTS as he can do for the FailoverCtr, everybody will know somebody has checked this failover ( and the alarm in our dashboard will disappears).

[2016-08-08 15:03] tanji commented on #70
I see! So, would it be OK if the reset failover button in the web app resets the Failover TS?

[2016-08-08 16:14] krissfr commented on #70
Yes it will be ok

[2016-08-09 09:27] #70 closed, assigned to nobody

[2016-08-11 13:21] sysdljr opened #72 "multi master replication question ?"
Hi, @tanji

Just now , I test to use dual master  and  MRM 0.7rc1. database version is MariaDB 10.1.16, and  start semi sync replication.
172.28.14.118     current write node
172.28.14.114

run sysbench:
 sysbench --test=/usr/share/doc/sysbench/tests/db/oltp.lua --num-threads=4  --mysql-host=172.28.14.118--mysql-port=3306 --mysql-socket=/home/mtest1/data/mysql.sock --mysql-user=root --mysql-passwo

[2016-08-12 07:12] tanji commented on #72
Hi @sysdljr ,

I will check 1), this is mostly a cosmetic issue that can be fixed.
About 2), I'm not sure what happened. But my guess is that the slave could possibly have executed a transaction that was written in the binlog when the master crashed, before having sent the acknowledgment. Please look at rpl_semi_sync_master_wait_point variable for more explanations.
Have you tried to restart the f

[2016-08-12 07:39] sysdljr commented on #72
Thank you.
2)  you are correct.
After restart old master ,  MRM monitor show  master and slave's GTID is same result:
         Host   Port          Status   Failures   Using GTID         Current GTID           Slave GTID             Replication Health  Delay  RO
  172.28.14.118   3306           Slave          0    Slave_Pos    0-118-60059078362    0-118-60059078362                     Running OK

[2016-08-12 13:37] tanji commented on #72
Yes, my thought (to validate with my colleagues) is that the transactions are somewhere on the master but in uncommitted state. This is fixed when recovering the failed master. Thanks for the report! I'm closing this issue now.

[2016-08-12 13:37] #72 closed, assigned to nobody

[2016-08-21 15:09] 113rm0 opened #73 "Failover should wait until the slave has read all relay log"
To avoid data loss, failover should not happen until the IO thread is in sync (this could be optionally disabled to force a failover)

[2016-08-23 08:56] #73 closed, assigned to nobody

[2016-08-23 08:59] 113rm0 commented on #68
@svaroqui Is this issue fixed?

[2016-08-23 09:09] tanji commented on #68
@svaroqui is this issue fixed?

[2016-08-31 09:37] blackluck commented on #50
It's the same issue if rpl user is not allowed from a specific slave ip, but a subnet.
Originaly I have rpl user like replicator@192.168.0.0/255.255.255.0
After created rpl user with specific ip too the error message is gone, but this should handle subnets also.

[2016-09-05 06:30] tanji commented on #50
Noted to add support for subnets.

[2016-09-07 13:55] svaroqui opened #74 "Incorrect maxscale grant in doc"
GRANT SHOW DATABASES, REPLICATION CLIENT ON . TO 'maxadmin'@'%';

[2016-09-07 13:55] svaroqui commented on #74
show be GRANT SHOW DATABASES, REPLICATION CLIENT ON _._ TO 'maxadmin'@'%';

[2016-09-07 13:56] svaroqui commented on #74
star . star

[2016-09-07 18:40] tanji commented on #74
That's exactly what is in the doc:

`GRANT SHOW DATABASES, REPLICATION CLIENT ON *.* TO 'maxadmin'@'%';`

what is the issue?

[2016-09-08 07:10] svaroqui commented on #74
Sorry copy paste issue , the doc was good

[2016-09-08 07:10] #74 closed, assigned to nobody

[2016-09-08 08:03] svaroqui opened #75 "Prevent multiple execution of replication manager"
One can run replication manager monitor in console mode and in daemon  mode at the same time
A solution would be to update a replication_monitor_heartbeat system table at every loop with unique process_id and  detect multiple instances

Run in the master

u, err := exec.Command("uuidgen").Output()
    if err != nil {
        log.Fatal(err)
        return err
    }
    r.run_uuid = fmt.Sprintf("%s"

[2016-09-08 08:07] svaroqui opened #76 "Warning should be produce when lack sync_binlog=1 and innodb_flush_log_at_trx_commit <> 1"

[2016-09-08 08:08] svaroqui commented on #76
Would be nice to check equality of such parameters in all possible slaves

[2016-09-08 08:24] svaroqui opened #77 "Stopping all slaves SLA failover should decrease"
Solution would be to set replication delay to 9999 when   detecting a replication stopped on slave

[2016-09-08 12:16] krissfr commented on #75
Hi Stephane,

a lock file ( ie /etc/replication-manager/mrm.lck) couldn't be a much simple and less intrusive solution ?

regards,

Krissfr

[2016-09-08 12:31] svaroqui opened #78 "fix unclear doc for gtidcheck in conf template"
syncs the servers based on GTID rather than second behind master = 0

[2016-09-08 12:32] svaroqui opened #79 "have an option to turn manual failover when not in semisync state SYNC"

[2016-09-08 12:41] tanji commented on #75
My personal choice is a pidfile as well, with systemd management.

@krissfr just curious to know what distributions you are using MRM with?

[2016-09-08 14:28] krissfr commented on #75
@tanji :   pid file is  good enough for me too, although some application use both pid file and lock file .

Currently the only one server  we have with MRM is a Debian Jessie, but we use often CentOS too for this kind of things.

[2016-09-09 08:51] #76 closed, assigned to nobody

[2016-09-09 08:58] #78 closed, assigned to nobody

[2016-09-10 11:56] michaeldg commented on #76
Why does slave need sync_binlog = 1? The slave is crash safe with mysql.gtid_slave_pos table.

[2016-09-10 13:08] tanji commented on #76
In order to make slave promotion consistent, all servers should have recommended parameters.

[2016-09-18 04:11] whatot opened #81 "add log_slave_updates checking along with log_bin"
The log_slave_updates is needed when the slave will be promoted as a new master in most cases when use mrm.
So I suggest add log_slave_updates checking along with log_bin.

[2016-09-18 16:28] tanji commented on #81
@whatot log_slave_updates is not a requirement with MariaDB GTID. I run all my tests without it and it passes OK.
@svaroqui any opinion?

[2016-09-18 16:33] whatot commented on #81
@tanji I run my one-master-two-slaves test with switchover and failover, in MariaDB GTID 10.0.17. It will go wrong without log_slave_updates.
what is your test environment?

[2016-09-18 16:40] svaroqui commented on #81
Yes log_slave_updates is not needed but can be good to have in case you have additional slaves  at deeper level, such slaves can be pointed to any failable server manage by replication manager (MRM)
Today such  topology are not manage by MRM and will not move or need configuration declaration of those extra slaves

[2016-09-18 16:46] tanji commented on #81
Same as yours @whatot.
Do you have any process that's writing to the slaves?
What kind of GTID errors do you get?

[2016-09-18 16:49] whatot commented on #81
@tanji Force to kill master when write to master, then failover or switchover, continue on the new master.
Without log_slave_updates, the process will fail.

[2016-09-18 17:03] svaroqui commented on #81
Whatot we have only recently (TODAY) added github version inside the release numbering but would recommend you are running the last release, there is a small chance that the issue you  are seeing is not caused by log slave updates , we for example have fix important issue 26 days ago
https://github.com/tanji/replication-manager/commit/1f016644cfd684ea6621afe6716a867d8a07330f

As all rpm and binari

[2016-09-18 17:06] whatot commented on #81
I use the tanji's latest commit when test.
go get -u github.com/tanji/replication-manager

[2016-09-18 17:09] svaroqui commented on #81
ok good to know

[2016-09-18 17:10] svaroqui commented on #81
to you use semi-sync as explained in the doc

[2016-09-18 17:14] whatot commented on #81
ok, I will try it, but it is not easy to change the sync in production.
thank you

[2016-09-18 17:28] svaroqui commented on #81
It is also critical to check that no users writes with the super privileges because it will overwrite the read-only flag , we would like to drive maxscale 2.0.X to enable no writes to newly elected master before the replication queue is applied, this code should go before the first release

[2016-09-21 08:44] svaroqui commented on #68
fixed by turning off  rplchecks flag

[2016-09-21 08:44] #68 closed, assigned to svaroqui

[2016-09-23 17:38] vipul-nextev opened #83 "Seeing errors when building"
vagrant@db4 replication-manager]$ go build -v .
github.com/mariadb-corporation/replication-manager/vendor/github.com/go-sql-driver/mysql
github.com/mariadb-corporation/replication-manager/vendor/github.com/jmoiron/sqlx/reflectx
github.com/mariadb-corporation/replication-manager/vendor/github.com/jmoiron/sqlx
github.com/mariadb-corporation/replication-manager/vendor/github.com/mattn/go-runewidth
gi

[2016-09-23 17:52] tanji commented on #83
Seems you're using an older repo, please rm -rf this one and clone again. It should work fine.

[2016-09-23 19:20] vipul-nextev commented on #83
Would you be kind enough to send me how to build and generate  replication-manager binary as I a not familiar with go . Thanks

[2016-09-23 19:20] #83 closed, assigned to nobody

[2016-09-24 21:09] tanji opened #84 "demoted server RO after switchover with RO=false"

[2016-09-24 21:46] #84 closed, assigned to nobody

[2016-09-30 10:00] svaroqui opened #86 "Minimum time between failover not printed in web console"
We can show 30/30  for 30 sec
after failover

1/30
2/30
3/30

can be printed to

[2016-09-30 10:01] svaroqui opened #87 "BINLOG FORMAT CHECK"
It 's advice to get same BINLOG Format on server we should print WARNING about it

[2016-09-30 14:56] svaroqui opened #88 "Expose LongRunningTimeout and no regression test"
if dbhelper.CheckLongRunningWrites(master.Conn, 10) > 0 {

[2016-10-01 12:00] markus456 opened #89 "Verbose output only goes to the log file"
The verbose and debug output is only written to the log file, not to the standard output. When the replication manager is started with the following options, there's no additional output to stdout.

[code]

Adding the `--logfile mrm.log` fixes it and the file _mrm.log_ contains the DEBUG output.

Version: 0.7.0-rc2

[2016-10-01 12:19] markus456 opened #90 "Monitor with --daemon option requires --interactive=false"
When starting the monitor with `--daemon`, `--interactive=false` is required to make automated failovers work. The daemon mode should implicitly start the replication manager in automatic mode.

Here's the output when the replication manager is started in manual daemon mode:

[code]

There's no way to initiate the failover as console commands are ignored with the daemon mode.

[2016-10-01 12:55] markus456 commented on #90
This seems to be by design and is a good safeguard to prevent unintentional master failovers.

[2016-10-01 12:55] #90 closed, assigned to nobody

[2016-10-01 14:56] tanji commented on #90
By the way, the failover mode should be printed to the console when replication-manager starts, but because of #89 it did not happen.

[2016-10-01 15:08] tanji commented on #89
Fixed in 62718a653df70e8fb86ced65d6b7e05c70d054ea

[2016-10-01 15:08] #89 closed, assigned to nobody

[2016-10-01 15:09] tanji commented on #79
Sorry closed by mistake, but @svaroqui isn't that fixed in RC2?

[2016-10-01 15:12] tanji commented on #63
Actually, that matters no more because your replication user should now be in a configuration file, so I'm closing the issue.

[2016-10-01 15:12] #63 closed, assigned to nobody

[2016-10-04 14:34] sysdljr opened #93 "MRM monitor multi group master slave ?"
Hi, tanji
    I have some question to ask for advice  in  MRM 0.7 version, thank you.
    1) if have multi group master slave , MRM can not show normal:
    172.28.14.115/243 is a group master slave, 172.28.14.114/118 is others group,
    whether can  add a hostgroup parameter or others to distinguish different group master slave ?
# ./replication-manager  monitor --gtidcheck --multimaster --logfi

[2016-10-05 09:46] Srijstha opened #94 "Binary log off in slaves"
It could probably be not an issue but I am facing a problem which might be naive as I am new to MariaDB and MaxScale!

I have a replication setup with one master and two slaves; binary log is on in the master and off in the slaves. Next,  I setup MaxScale with automatic failover script.  MaxScale+replication-manager tries to elect a master when the master failed but couldn't as binary logs are off

[2016-10-05 09:55] tanji commented on #94
Hello,

Please read our documentation, it answers all those questions.
Binary log must be ON at all times on all servers.
It is recommended to run replication-manager as a standalone service if you want to have your old master autorejoin the topology. MaxScale can't do that by itself unfortunately.

[2016-10-05 10:08] Srijstha commented on #94
Thanks tanji for the quick answer. I will have a good look in the documentation.

Update: the binlog problem is solved!

MaxScale is a great tool. Hope to see autorejoin feature from MaxScale in the near future.

[2016-10-09 10:34] svaroqui opened #95 "No way to say unlimited failover limit"
Settings failover limit to 0 will always disable failover, should be documented need to check default value is not set to 0

[2016-10-09 17:06] svaroqui opened #96 "Can failover when all slaves stop"
Regression test found this and was enable to repeat by hand

They should be a difference between the io thread is blocked caused by a lost master   and all replication threads stopped

[2016-10-09 17:12] #79 closed, assigned to nobody

[2016-10-10 09:34] #96 closed, assigned to nobody

[2016-10-10 12:54] tanji commented on #94
@Srijstha you can run MaxScale with Replication-manager, please check latest blog article.

[2016-10-10 12:54] #94 closed, assigned to nobody

[2016-10-11 05:14] vipul-nextev opened #98 "Automatic failover does not work even when running in interactive=false"
I am trying to setup automatic failover via maxscale.conf , but it does not work . Here is the input from maxscale.conf file

[db_rw_router Monitor]
type=monitor
module=mysqlmon
servers=db1,db2,db3,db4
user=maxscale_user
passwd=xxxxx
detect_replication_lag=true
detect_stale_master=true
monitor_interval=500
script=/usr/bin/replication-manager  failover  --interactive=false
## events=master_down

Wh

[2016-10-11 05:25] vipul-nextev commented on #98
I even tried using /etc/replication-manager/config.toml file this is partial file

autorejoin = true
readonly = true
wait-kill = 5000
post-failover-script = ""
pre-failover-script =""

check-type = "tcp"

failcount = 3
failover-limit = 0
failover-time-limit = 5
gtidcheck = true
maxdelay = 0
interactive = false
failtime=0
rplchecks=false

Thanks

[2016-10-11 08:15] svaroqui commented on #98
Thanks for using replication-manager, can you provide us the replication manager logs ? You can enable more verbose log --verbose  --log-level=2

[2016-10-11 08:16] svaroqui commented on #98
Can you tell also give us the --version

[2016-10-11 09:25] tanji commented on #98
Please enable logs: --logfile=/tmp/mrm.log and attach to this issue

[2016-10-11 14:31] #88 closed, assigned to nobody

[2016-10-11 17:51] vipul-nextev commented on #98
The log is enabled and I am running with --verbose and log-level = 2

==> /var/log/maxscale/maxscale1.log <==
2016-10-11 17:49:26   error  : Monitor was unable to connect to server 10.118.130.51:3306 : "Can't connect to MySQL server on '10.118.130.51' (107)"
2016-10-11 17:49:26   notice : Server 10.118.130.51:3306 lost the master status.
2016-10-11 17:49:26   notice : Server changed state: db2[10.

[2016-10-11 20:04] svaroqui commented on #98
Well you can run replication-manager as a service   ./replication-manager monitor  --http-server
in this case it will open http interface port 10001 where you can see what is happening or

You can refer to this blog post
https://mariadb.com/blog/mariadb-high-availability-replication-manager

In such describe use case you should  comment any maxscale scripts , you have been previously set like :
sc

[2016-10-11 20:10] svaroqui commented on #98
the default is   interactive =false : failover will be manual , and an email should be sent to you to let you know to connect to http server to finish failover.
You can change the mode from interface if you wan't .
Last release should also drive maxscale to put the old master in maintenance

Guillaume Tanji can tell you more how to use that feature

[2016-10-11 22:27] vipul-nextev commented on #98
when I set replication-manager script in maxscale.conf whether running in interactive=true or interactive=false failover does not happen automatically. I tried with maxscale 1.4 and maxscale 2.0

==> /var/log/maxscale/maxscale1.log <==
2016-10-11 22:22:23   error  : Monitor was unable to connect to server 10.118.130.51:3306 : "Can't connect to MySQL server on '10.118.130.51' (107)"
2016-10-11 22:2

[2016-10-12 07:07] tanji commented on #98
@vipul-nextev please give us the output of `replication-manager version`. Thanks in advance

Your script should work as is. Failover doesn't care whether interactive is set or not.

[2016-10-12 17:05] vipul-nextev commented on #98
replication-manager version
MariaDB Replication Manager version 0.7
Version:
Build Time:

[2016-10-12 19:18] vipul-nextev commented on #98
I have compiled replication-manager binary couple of weeks ago but something has changed since then . I recompiled my binary today using the documentation from
https://mariadb.com/blog/mariadb-high-availability-replication-manager.

One thing I notice is when I start the my older replicaiton-manager the log says
2016/10/12 19:10:04 INFO : replication-manager version 0.7 started in daemon mode

And

[2016-10-12 19:18] #98 closed, assigned to nobody

[2016-10-14 07:26] sysdljr commented on #50
Hi, @tanji
    We run MRM 0.7 in host  10.1.0.121 or 10.1.0.123,  monitor is normal.
    repmgr monitor --gtidcheck --logfile=/tmp/repmonitor.log --user=mysqlcheck:xxx --rpluser=rep_user:xxx --hosts=10.1.0.121:3306,10.1.0.123:3306
   when run  in host 192.168.1.133 ,   both master and slave are normal,  but show some error message,    please help to confirm, thanks.

[code]

 Ctrl-Q0to4quit,9Ctrl-

[2016-10-16 08:27] svaroqui commented on #50
Hi,

Looks like you need to setup grants on the 121 from the 123
GRANT REPLICATION SLAVE ON . TO 'rep_user'@'10.1.0.123' IDENTIFIED BY PASSWORD 'xxxxx'

Looks like the grants are checked with ip address and not hostname
test-133
adding mysqlcheck@test-133 grants should remove the issue

Please let us know if it helps , i will check the code if hostname detection need to be added as a feature reque

[2016-10-17 02:15] sysdljr commented on #50
@svaroqui ,thank you.

setup grants on the 10.1.0.121:
 GRANT REPLICATION SLAVE ON _._ TO 'rep_user'@'10.1.0.123' IDENTIFIED BY PASSWORD '_xxxx';
 GRANT REPLICATION SLAVE ON *._ TO 'rep_user'@'10.1.0.121' IDENTIFIED BY PASSWORD '*xxxx';

setup grants on the 10.1.0.123:
 GRANT REPLICATION SLAVE ON _._ TO 'rep_user'@'10.1.0.123' IDENTIFIED BY PASSWORD '_xxxx';
 GRANT REPLICATION SLAVE ON *._ TO 'rep

[2016-10-19 09:39] #50 closed, assigned to nobody

[2016-10-22 11:18] svaroqui opened #99 "Http mode not working when no internet access"
Have a patch for this

[2016-11-04 10:22] krissfr opened #100 "colon character in password"
Hi,

i have an issue with replication-manager RC2 when a password for the root user or replic user has a colon character in the config.toml.

ex:
user = "root:1234#!:$abcd"

replication manager doesn't understand the password and doesn't connect to the mysql server.

[2016-11-04 11:31] krissfr opened #101 "Title parameter in the config.toml"
Hi,

Currently we use the title parameter in config.toml to store the name of our customer (or the project name of our customer), but this parameter isn't display in the web UI (i guess never use in any files/programs).

Could it be possible to display the value of this parameter (if not empty) in the top of the web UI, next to the "Replication Manager Dashboard" message ?

Regards,

Krissfr

[2016-11-04 12:15] tanji commented on #101
Yes, absolutely. I need to rework the config a lot because I plan to support multiple configurations in the same file. So that's already a plan.

[2016-11-04 12:15] tanji commented on #100
Hi @krissfr , does that password work in command line?

[2016-11-04 12:16] krissfr commented on #101
thank you :)

[2016-11-04 12:30] krissfr commented on #100
@tanji the connection to a mariadb server using the mariadb client with a password that contain a colon work fine.
i guess the problem is here because the colon is also the separator character between the user and the password in the config.toml.

[2016-11-04 14:22] krissfr commented on #100
When you say "in command line", it's like that ?
replication-manager monitor --hosts=db1:3306,db2:3306,db2:3306
--user=root:pass --rpluser=repl:pass --daemon --http-server

i didn't try that

2016-11-04 13:15 GMT+01:00 Guillaume Lefranc notifications@github.com:

[2016-11-04 14:57] tanji commented on #100
You are right the issue is because of the separator, I will fix the utility function so any subsequent parts containing colons are also included in the password.

[2016-11-04 15:00] krissfr commented on #100
thank you :)

2016-11-04 15:57 GMT+01:00 Guillaume Lefranc notifications@github.com:

[2016-11-04 15:17] #100 closed, assigned to nobody

[2016-11-04 16:03] tanji commented on #95
I disagree, 0 works fine for me and failover is enabled. Default is documented as 0 = unlimited

[2016-11-15 15:47] tanji commented on #101
This is fixed in ef184f3d524b094c783f2ffa293b302dabcb3ece

This group of commits adds two new options:
`--config` and `--config-group`

The first option allows you to point to a configuration file path of your choice.
The second option allows configuration groups, e.g.:

[code]

replication-manager can now parse those groups when you start it with `--config-group=cluster2` for example, and this gr

[2016-11-15 15:47] #101 closed, assigned to nobody

[2016-11-15 15:47] tanji commented on #99
Fixed in ca5ac0c12e111458a2deb90a0e5dd8ce23f138f7

[2016-11-15 15:47] #99 closed, assigned to nobody

[2016-11-15 15:49] tanji commented on #64
Closed in #101

[2016-11-15 15:49] #64 closed, assigned to nobody

[2016-11-17 08:30] sysdljr opened #102 "haproxy and MRM problem ?"
Hi, @tanji
     There a little problem to ask for you help in haproxy and MRM , thank.
     when we not add --haproxy parameter , MRM 0.7 could normal run.
replication-manager monitor --gtidcheck   --user=root:xxxxxx --rpluser=rep_user:xxxxxx --hosts=172.28.14.118:3306,172.28.14.114:3306 --interactive=false
    after add --haproxy parameter,  could not run.
    there some error info:

2016-11-17 1

[2016-11-17 09:33] svaroqui commented on #102
Hi sysdljr,

Thanks for using haproxy wrapper feature,
I'm the dev that implement it  in replication manager, here is the setting i'm using

haproxy = true
haproxy-binary-path = "/usr/local/skysql/haproxy/sbin/haproxy"

# Read write traffic

haproxy-write-port=3306

# Read only load balance least connection traffic

haproxy-read-port=3307

I used it mainly in daemon mode , let me know if you found

[2016-11-17 14:07] sysdljr commented on #102
@svaroqui ,thank you.
We have hundreds of old app, previous is directly connect to database (no use haporxy).
 example:
group1:   192.168.10.110:3306  master     192.168.10.111:3306 slave
group2:   192.168.11.120:3306  master     192.168.11.121:3306 slave
......
app1,app2,ap3  write to  192.168.10.110:3306 and read to 192.168.10.111:3306
app4,app5,ap6  write to  192.168.11.120:3306 and read to 192

[2016-11-17 15:39] svaroqui commented on #102
re,

Ok i understand i'll fixe this by introducing 2 new parameters
haproxy-ip-write-bind default 0.0.0.0
haproxy-ip-read-bind default 0.0.0.0

This would enable your setting let me know if i'm on the good track here

[2016-11-17 16:25] svaroqui commented on #102
Re,
I've push the change in  https://github.com/tanji/replication-manager/commit/119f633568f384f2be67fd58a4d622da9ca8da61
Can you build from source or do you need a special binary package to test ?

[2016-11-18 02:20] sysdljr commented on #102
Thank you for your kind support and help.
Please send to me a binary package,  thanks again.

[2016-11-18 09:29] kdruelle opened #103 "Failover/Switchover: Events status not updated"
When a failover/switchover is performed and a new master is elected, MRM doesn't set Events Scheduler state on new master.

When old master is up again and switch in slave mode, Events Scheduler need to be turn Off are not updated neither.

[2016-11-18 10:25] tanji commented on #102
[replication-manager-0.7.0-2176dae.tar.gz](https://github.com/tanji/replication-manager/files/599688/replication-manager-0.7.0-2176dae.tar.gz)

[2016-11-18 10:25] #102 closed, assigned to svaroqui

[2016-11-19 04:44] sysdljr commented on #102
@tanji,  @svaroqui,  thank you.
   We use replication-manager-0.7.0-2176dae to test:
replication-manager monitor --gtidcheck  --logfile=/home/tools/rpm01.log --user=root:123456 --rpluser=rep_user:123456 --hosts=172.28.14.118:3306,172.28.14.114:3306 --haproxy-ip-write-bind=172.28.14.91 --haproxy-write-port=13304 --haproxy-ip-read-bind=172.28.14.92 --haproxy-read-port=13304 --interactive=false

Why

[2016-11-19 04:56] sysdljr commented on #103
Besides, every event status must update to enable on new master ,  default  event status is SLAVESIDE_DISABLED on slave.

[2016-11-20 21:22] svaroqui commented on #103
Fix by last commit

[2016-11-23 11:55] krissfr opened #104 "MRM RC3 crash after a switchover"
Hello,

I've done a setup with MRM RC3, but when a do a switchover, MRM crash (failover not already test) .
Here are syslog output :

Nov 23 12:43:08 server-pn01-sql systemd[1]: Started MariaDB replication-manager.
Nov 23 12:43:08 server-pn01-sql replication-manager[100782]: 2016/11/23 12:43:08 INFO : Using config file: /etc/replication-manager/config.toml
Nov 23 12:43:08 server-pn01-sql replicati

[2016-11-23 12:04] tanji commented on #104
thanks for reporting, do you have a 2 server setup? I tried reproducing it with 3 servers without issue.

[2016-11-23 12:22] krissfr commented on #104
There is 1 dedicated server for MRM and 2 mariadb 10.1 servers. All of them are Ubuntu 16.04.

This is my config.toml :

[code]

[2016-11-23 13:11] tanji commented on #104
@krissfr thank you very much, unfortunately even with this config I cannot reproduce the crash. I was looking at the stack trace more closely and it does not match what I have in the source code for this specific version. Could you give me the output of `replication-manager version` to make sure that I am looking at the right code?

[2016-11-23 13:14] svaroqui commented on #104
indeed we do no protect
	myhost := dbhelper.GetHostFromProcessList(sv.Conn, dbUser)
	myip, err2 := net.LookupIP(myhost)

     if err2 != nil {
		 -> print something
	}

AND
	->		priv, err := dbhelper.GetPrivileges(sv.Conn, dbUser, repmgrHostname, myip[0].String())

my theory is that myip[0] is empty or nil and that this not checked in the code so could be something on network configuration, we nee

[2016-11-23 13:17] tanji commented on #104
Yes @svaroqui i noticed that as well, @krissfr never mind the packages were the wrong version as well. I will produce a fix, sorry for the noise.

[2016-11-23 13:34] tanji commented on #104
[replication-manager-0.7.0-b8b642e.tar.gz](https://github.com/tanji/replication-manager/files/608948/replication-manager-0.7.0-b8b642e.tar.gz)

[2016-11-23 13:35] tanji commented on #104
Please find latest tar build attached for testing. Note that it contains other changes such as the new configuration handling related to the issue you've posted before.

[2016-11-23 14:25] krissfr commented on #104
@svaroqui and @tanji  thank you very much, this fix solve this issue.
switchover and failover work as expected :)

Could you please update yum and deb package on the release page ( https://github.com/tanji/replication-manager/releases ) ?

thank you again

[2016-11-23 15:14] krissfr commented on #104
Sorry, my answer was too early. i still have the issue

[2016-11-23 15:16] krissfr commented on #104
the output of syslog :

[code]

[2016-11-23 15:24] svaroqui commented on #104
Re,
Sorry to hear that same cause but different place now

	splitip := strings.Split(ip, ".")

	iprange1 := splitip[0] + ".%.%.%"
	iprange2 := splitip[0] + "." + splitip[1] + ".%.%"
	iprange3 := splitip[0] + "." + splitip[1] + "." + splitip[2] + ".%"

We don't have an ip in those functions and this was an unexpected case.
Would like to understand what is return by getHost from processlist in verbo

[2016-11-23 15:27] tanji commented on #104
@krissfr you must still be running the old version.

line 226 is:
				priv, err := dbhelper.GetPrivileges(sv.Conn, dbUser, repmgrHostname, myip)

There is no array access at this stage.

[2016-11-23 15:28] tanji commented on #104
@svaroqui do you have a fix for above?

[2016-11-23 15:40] krissfr commented on #104
@tanji In fact I have the right version :
[code]

[2016-11-23 15:45] tanji commented on #104
Yes, sorry I misread the trace. Can you try running this binary with --log-level=3? It will print useful debugging information.
[replication-manager.gz](https://github.com/tanji/replication-manager/files/609273/replication-manager.gz)

 Thanks!

[2016-11-23 16:09] krissfr commented on #104
@tanji i can't use --log-level=3 with this binary. the option isn't recognise

[2016-11-23 16:17] tanji commented on #104
Are you sure?

Example:
[code]

[2016-11-23 16:21] krissfr commented on #104
i have put log-level=3 in config.toml and now i have detailled log :

[code]

[2016-11-23 16:24] krissfr commented on #104
this is the full log :
[code]

[2016-11-23 16:37] tanji commented on #104
OK, it seems you are running MRM on the same database as one host because we got this:

[code]

And MRM does not know how to handle IPV6, forcing the resolution to IPV4 should solve the problem.

[2016-11-23 16:46] krissfr commented on #104
here we have 3 separated server  :

MRM server ( IP : 10.0.0.46 )
MariaDB server1 ( IP : 10.0.0.52 )
MariaDB server2 ( IP : 10.0.0.19 )

beside that, i'm also connected (via ssh) on both mariadb servers with a local mysql client (via the socket). I do somes queries like show slave status\G. Maybe my local connection is dectected by MRM ?

[2016-11-23 16:51] tanji commented on #104
possibly, if you use the same user, and that would explain why it crashed only in some configurations. I'll have to review this part of the code which is less than perfect obviously. For now, I'm trying to implement a fix to force the resolution to get only IPV4 addresses.

[2016-11-23 16:53] krissfr commented on #104
yes , i'm connected with the root user.

[2016-11-23 17:08] tanji commented on #104
OK, it would be preferable if you use dedicated user for MRM :)

Which distro do you use, Debian/Ubuntu or CentOS?

[2016-11-24 08:43] tanji commented on #104
Fixed in a8bfcd4a7a8d73ec7d254a8a0f27b24f79b3fe47

[2016-11-24 09:55] krissfr commented on #104
Hi,
i can confirm that it doesn't crash with a dedicated user (i use rootmrm). In the readme this this the root user wich is used, that's why i used it.

Thank you both of you

[2016-11-25 12:27] kdruelle commented on #103
Seams that commit 39d8e32283244e9123ed3768d3dbe0a0a13c5a68 fix this issue by update event_scheduler global variable.

Would not it be better to update Status on each event to SLAVESIDE_DISABLED ?

[2016-11-27 04:12] sysdljr commented on #103
after slave switch to master , if event status is SLAVESIDE_DISABLED  then this event can't execute on scheduler is ON.

[2016-11-27 09:29] svaroqui commented on #103
Humm, i don't get the issue if you have SLAVESIDE_DISABLED you should not have to do anything with replication manager , the event_scheduler is 0N on every nodes and only the master can execute the event ? Or is there an issue here ?

[2016-11-27 11:16] sysdljr commented on #103
Yes,  Default master's event status is Enable and all slave's event status are  SLAVESIDE_DISABLED in mysql replication. and event execute once  only  on master.

reference link:
https://dev.mysql.com/doc/refman/5.7/en/create-event.html

example:
create event on master:
CREATE DEFINER=`root`@`localhost` EVENT `ev_test` ON SCHEDULE EVERY 1 HOUR STARTS '2016-11-27 14:18:00' ON COMPLETION PRESERVE **

[2016-12-01 15:12] krissfr commented on #104
could you please provide a fixed deb package ?

[2016-12-01 15:15] svaroqui commented on #104
Tanji is in vacation and manage deb files creation, can it wait a couple of week that he comes back ?

[2016-12-01 15:17] krissfr commented on #104
yes for sure i do

[2016-12-01 17:02] svaroqui commented on #103
Why don't you just do set sql_bin_log=0 in the event and have symetrics event on all nodes

[2016-12-01 17:03] svaroqui commented on #103
just set sql_bin_log=0  need super privileges from definer

[2016-12-03 12:11] svaroqui commented on #103
Fixed as part of last commit https://github.com/tanji/replication-manager/commit/c85d38c163d8fb1f2ff169387e8563401169903f

[2016-12-08 09:21] krissfr opened #105 "Reset failcount if no failures during x minutes"
Hello,

This is a new feature that I would like to find in a future release.

The situation :
I have 3 configuration servers, 2 mariadb and 1 MRM.
My failcount value is 5.

If a have a short network failure between MRM and the master, the failcount will begin to increment.
Suppose that when the network fails, the failcount stops at 4/5.

At the next short network failure (which can happen x hours

[2016-12-08 09:24] svaroqui commented on #105
That looks like a must have :)

[2016-12-08 09:25] krissfr commented on #105
cool ! :)

[2016-12-08 09:39] svaroqui commented on #105
failcount-reset-time should be based on monitoring time not on system time because can cause strange failover disable during winter time  change

[2016-12-11 18:53] svaroqui commented on #105
Please test last commit via
replication-manager  --config=/etc/replication-manager/mrm.cnf monitor --daemon --monitoring-ticker=8 --failcount-reset-time=40

And restart the master

[2016-12-11 18:53] svaroqui commented on #105
default is 2 and 300

[2016-12-12 08:25] krissfr commented on #105
Hi Stéphane,
you commit faster than Lucky Luke ! ;-)

I'm very busy this week , but i will do my best to find some time to try it. I understand the parameter failcount-reset-time, but can you please explain what is the monitoring-ticker and the impact of changing his value ?

thank you for this new feature ! :)

[2016-12-12 08:57] svaroqui commented on #105
Hi krissfr,

monitoring-ticker is the timeout between consecutive monitoring , should not be change in most case but increasing for testing enable to stop the failure counter under 5 when restarting a node , note that we can't  increase the number of failure before failover in config , i may expose this as well

Any parameter name  is welcome !

[2016-12-12 09:12] krissfr commented on #105
Thank you stéphane

[2016-12-12 10:51] svaroqui opened #106 "Crash when giving wrong config file"
replication-manager  --config=/Uetc/config.toml.sample  --config-group=Cluster01 monitor  --daemon
2016/12/12 11:49:07 INFO : Using configuration group Cluster01
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0xa0 pc=0x188852]

goroutine 1 [running]:
github.com/spf13/viper.(*Viper).Sub(0xc820136ee0, 0x7fff5fbffa15, 0x9, 0x2b)
	/Users/svar/GOWORK/s

[2016-12-14 15:57] ssiuhk opened #107 "Replication-manager is froze when any host in configuration is down"
Even given connect-timeout in the config file, the replication-manager is froze when one host is not pingable anymore. No update of host status, no response to any action (failover/switch over / change failover mode etc). It works fine if just bring down the Mariadb service (e.g. host is still pinable).

[2016-12-14 16:01] tanji commented on #107
Yes, this is a known issue that exists at low level, because the host on the other side does not send TCP ack anymore, for example if it uses a firewall. If host is physically down, the problem you describe will not happen.

[2016-12-14 16:06] ssiuhk commented on #107
No...... in fact I bring down the network of the host (similar to physically down), and the replication-manager froze.
I try to simulate a disaster scenario when the host is down.

[2016-12-14 16:08] ssiuhk opened #108 "When switch over and switch back, connection is not configured using SSL"
I enforced the replication account must SSL connecting to master.
After switch over and switch back, the slave is not using SSL when making connection to master.

[2016-12-14 16:38] tanji commented on #107
May I ask how you bring down the network?

[2016-12-14 16:38] ssiuhk commented on #107
systemctl stop network

[2016-12-14 16:40] tanji commented on #107
OK. I will try to simulate this, however if it's half open TCP connection problem there will be no fix for it (as it's a very low level issue)

[2016-12-14 16:44] ssiuhk commented on #107
May I know how replication-manager detects a Mariadb is up or down? May need to implement some kind of timeout mechanism?

[2016-12-14 17:50] tanji commented on #107
It uses protocol ping, which is as low level as it gets, and it has a timeout.
TCP connections won't time out if the socket is in an half open state. That's a known issue which is not related to MRM or Golang whatsoever.

[2016-12-14 18:07] svaroqui commented on #107
May be can use an other way to check like a establish a connection instead of com_ping
check-type = conn what do you think that may be used with connection-pool extra port to be sure of never be blocked by max connection ?

[2016-12-15 08:00] ssiuhk commented on #107
I think it's related to arp cache timeout.
e.g. if arp cache on the switch refresh after 5 min, the ping result became unreachable instead of timeout after 5min.
Then the status of server is updated.
Not sure if there could be a way to do a faster detection.
Is there a way to use com ping like ping -W 3 -c 1 so it could timeout after 3 sec instead of long wait?

[2016-12-15 12:55] tanji commented on #108
Support for SSL needs to be added.

[2016-12-15 14:26] tanji commented on #104
Build included, sorry for the delay

[replication-manager_0.7.0-f16fb62_amd64.deb.gz](https://github.com/tanji/replication-manager/files/654876/replication-manager_0.7.0-f16fb62_amd64.deb.gz)

[2016-12-15 15:22] krissfr commented on #104
Hi Tanji,
thank you for this package.
With this version i can't use the http interface. when i try it i have this message :

Replication Manager Dashboard
Cannot connect to the http server backend. Status will not update.

Do you what it can be ?

[2016-12-15 15:51] tanji commented on #104
Yes there is something broken, @svaroqui is fixing it then I'm going to send you a new build

[2016-12-15 15:53] krissfr commented on #104
ok thank you :)

[2016-12-15 16:36] tanji commented on #104
New build

[replication-manager_0.7.0-22411d8_amd64.deb.gz](https://github.com/tanji/replication-manager/files/655224/replication-manager_0.7.0-22411d8_amd64.deb.gz)

[2016-12-15 17:13] krissfr commented on #104
ok thank you.
i guess we can close this issue.

[2016-12-15 17:22] krissfr commented on #105
Hi Stéphane,
i'v did some tests with the last release  build by Tanji and i seem work as expected.

But i don't understand why the failcount column display higher value than the message in logs.

exemple :
 => in the log : "WARN : Master Failure detected! Retry 3/5"
 => in the Fail Count column : 3/27

Another issue (not related with this one), the post failover script is not executed, i have this

[2016-12-16 08:39] krissfr commented on #105
Hi Stéphane,

don't worry about the post failover script. it was my bad, a blank line in the first line of my script ;-)

[2016-12-16 13:05] #104 closed, assigned to tanji

[2016-12-16 13:09] tanji commented on #106
Could not reproduce, I get:

[code]

[2016-12-16 21:14] svaroqui commented on #105
HI Kissfr,

failcount column is the  number failure / the heartbeat when  failure was detected, because we know about time between  2 heartbeat we can compute when it's time to reset  number of failure . it's not based on system time that could have been dangerous in cas of system time change

[2016-12-19 09:49] krissfr commented on #105
Hi Stéphane,

Thank you for your explanation.

As we don't configure an heartbeat number but a (reset) time in second, what do you think about to display the computed time instead of the heartbeat number ?

The best would be a count down from the failcount-reset-time value to zero when no failure append. This would be more understandable for non-initiated user.

[2016-12-21 03:19] ssiuhk opened #109 "Alerting on slave replication failure"
Hello,

Would it be possible to add a new feature to e-mail report/generate file report on sync status?
e.g. in case sync is broken on one of the slave due to db corrupted, conflict of id, etc.

Thanks!

[2016-12-22 17:50] svaroqui commented on #109
Hi ssiuhk,

Sure that looks like something to hack on during vacation :)

I will start tomorrow looking at this feature.

Thanks for reporting
/svar

[2016-12-22 20:01] tanji commented on #109
Hi @ssiuhk We already have alerting built-in so this should be easy to add.

[2016-12-24 06:44] sysdljr opened #110 "After failover old master status not change ?"
Hi, @tanji @svaroqui
   today,   when we test failover , have some question. please help confirm, thanks.

replication-manager version
MariaDB Replication Manager version 0.7
Version:  0.7.0-rc3
Build Time:  2016-11-23T14:38:23+0100

 replication-manager monitor --gtidcheck  --logfile=/tmp/repm.log --user=root:123456 --rpluser=rep_user:123456 --hosts=172.28.14.118:3306,172.28.14.114:3306,172.28.14

[2016-12-28 17:23] tanji commented on #110
Hi @sysdljr can you please include repm.log?

[2016-12-28 17:24] tanji commented on #110
Just to clarify - are you starting "replication-manager monitor" and "replication-manager failover" at the same time?

[2016-12-29 03:48] sysdljr commented on #110
Thank you.
only starting replication-manager failover have the problem too.
just now,  run failover again
replication-manager failover --gtidcheck  --logfile=/tmp/repm.log --user=root:123456 --rpluser=rep_user:123456 --hosts=172.28.14.118:3306,172.28.14.114:3306,172.28.14.116:3306 --prefmaster=172.28.14.116:3306

/tmp/repm.log:
2016/12/29 11:39:19 WARN : Could not read values from state file:EOF
2

[2016-12-29 03:52] sysdljr commented on #110
besides,  when run replication-manager monitor,  show a error.  this error occasionally appear.
2016-12-29 11:32:33 INFO : Monitor started in automatic modepanic: runtime error: index out of range

goroutine 1 [running]:
panic(0x8b9e60, 0xc420012120)
        /usr/lib/go/src/runtime/panic.go:500 +0x1a1
main.topologyDiscover(0xc420246380, 0x981700)
        /home/tanj/Dev/go/src/github.com/tanji/repl

[2016-12-29 15:22] tanji commented on #110
@sysdljr it seems that you are confused about replication-manager usage.

`replication-manager failover` is to be used by scripts only, e.g. triggering by MaxScale or other tool.
You have 2 masters in the monitor, because you triggered a failover when the server was not failed... if you want to switch master on the command-line, use `replication-manager switchover` instead.

`replication-manager m

[2016-12-31 03:22] sysdljr commented on #110
Thank you very much.  I understand.

[2016-12-31 10:33] svaroqui commented on #109
Hi @ssiuhk ,

This feature should be included in the next build .
Thanks for reporting!

[2017-01-01 16:11] ssiuhk commented on #109
Great, thanks a lot for the work! 👍

[2017-01-03 16:31] #93 closed, assigned to tanji

[2017-01-03 16:37] #109 closed, assigned to svaroqui

[2017-01-03 16:50] #34 closed

[2017-01-23 10:40] claudionanni opened #111 "Have Replication Manager contemplate the case when a shutdown Master is ahead of its semi-sync Slave(s)."
I did several tests with MariaDB 10.1.18/19 in a Master/Slave semi-sync replica setup and I observed that it's possible that the Master, once shutdown with either  kill -9 or even just `shutdown` command, has between 1 and 3 transactions more than its semi-sync Slave, the setting rpl_semi_sync_master_wait_point does not make difference.

If needed to reproduce the issue, the test is easy:
* Setup

[2017-01-23 11:14] svaroqui commented on #111
There is  a difference after commit you  are sure that those extra transaction have been receive by client but they are not necessary semi-sync , after-sync get  no client commit guaranty, i think there is no way to fixe today inside replication manager: if  agent base sending the diff could work only if not real server crash, as well i don't see more reason such agent would be able to communicate

[2017-01-23 15:32] tanji commented on #111
Hi Claudio
Thanks for a bug report, Stephane has improved failover priority on https://github.com/tanji/replication-manager/commit/d3fe005f7b99e89f657b61e307c2f8b558ba4b83
I haven't had time to set up a reproducer, will look at this as soon as I can.

[2017-01-23 16:01] claudionanni commented on #111
When you shutdown or kill the Master you have 1-3 transactions in the Master's binary log that are not received by the semi-sync Slave.
As soon as you start the Master also the Slave will receive them, they are not rolled back.
I tested this with both AFTER_SYNC and AFTER_COMMIT, same thing.
Note, when you issue SHUTDOWN the Master does not wait at all, no timeouts involved.

So at a certain point

[2017-01-23 16:43] svaroqui commented on #111
Yes the fixe we pushed is to be sure that we always elect the most up to date slave regarding IO GTID no more SLAVE  GTID, if this server is not the prefered master , the prefered master is ignored , and a switchover will be trigger just after the failover to try to move to prefered master , for the case of extra transaction in the master we can't avoid them unless MariaDB or MySQL can fixe , but

[2017-01-23 16:46] svaroqui commented on #111
In any case making a scenario with rolling shutdown or kill -9 can only lead to the requirement of fully re provision the old master SST like :) we don't cover that feature yet in MRM . But that's doable

[2017-01-24 15:25] blackluck opened #112 "with multimaster not detected read only nodes correctly via config mode"
The 'multimaster = true' option not working if set in configuration file.
It looks like not read that option from the config file, because otherwise the config works if start with 'replication-manager monitor --multimaster' .

[2017-01-24 16:19] tanji commented on #112
Hi,

what version do you use?

I just made the following test:
[code]

As you can see in the config debug output above, multimaster is set to true.

[2017-01-24 17:03] blackluck commented on #112
[code]
(downloaded as deb package)

For me it didn't say with verbose the configuration only this:

[code]
[code]

and with the same config but start with --multimaster option:

[code]
Last message is normal, sync_binlog and innodb_flush_log_at_trx aren't 1 and after that it's working. But if multimaster only in config file, then it's not.

the probably relevant config parts are (ip masked):
hosts

[2017-01-24 17:50] svaroqui commented on #112
2017/01/24 17:51:06 Multiple masters were detected
2017/01/24 17:51:06 ERROR: ERR00012 Could not autodetect a master
 replication manager run in multi master so issue title may be wrong the question is why in config mode it does not detect both nodes in read only like in command line mode

[2017-01-24 18:05] blackluck commented on #112
It wasn't clear for me, modified title.

Tried with log-level = 3 and see this:

[code]
and it continue the same.

How could I get more detail or what should I check to see why it's not working?

[2017-01-24 19:43] tanji commented on #112
OK, that's weird. Your version should have the line that prints "Using config file:"
If it doesn't, it could mean that the config file does not exist or could not be read:
[code]
But still, the defaults would be printed. So, it really seems your setup has an issue reading the config file.

Can you retry with today's build (tentative release) and see if logging improves?
https://storage.googleapis.

[2017-01-24 22:25] blackluck commented on #112
Still it used that config file, only that file contained host and login informations :).

Tried it with that today build and if set log-level then printed out config at start and it worked with multimaster in config file.
So probably it was fixed between today and that release just I didn't found a comment like fix for these issue.

On the other hand maybe found another issue, if set log-level gre

[2017-01-25 13:49] tanji commented on #112
@blackluck thanks for the report, if it's simple enough I will hotfix this.

[2017-01-25 13:55] tanji commented on #112
Fixed in fb7da86

[2017-01-25 13:55] #112 closed, assigned to nobody

[2017-01-25 15:16] svaroqui opened #113 "Set GTID_POS_WAIT timeout TO maxdelay *10"
and manage error code return

[2017-01-26 05:58] sysdljr opened #114 "replication-manager 1.0 http question ?"
Hi, @tanji
    Just now,  we upgrade replication-manager 0.7 to 1.0,  I have some question ,please help,  thanks.

## execute commad in 172.28.14.117:
replication-manager  --config=/etc/replication-manager/config.toml  --config-group=Cluster01 monitor --interactive=false

## output result:
MariaDB Replication Monitor and Health Checker **version 0.7** | Group: Cluster01 |  Mode: Automatic $<2>

[2017-01-26 07:09] svaroqui commented on #114
Hello,

1 - should set those flags to true for switching event scheduler
failover-event-scheduler = false
failover-event-status = false

2 - do you have a stack trace on this ?

Does it do it again when you disable login ?
http-root = "./dashboard" can you possibly  test with the absolute path of dashboard directory ?
To reproduce please send full config stephane@mariadb.com and possibly the passw

[2017-01-26 12:12] blackluck opened #115 "0.7.0-rc3-39-g05d8ee1 with http-server with auth enabled mem leak"
Version 0.7.0-rc3-39-g05d8ee1

With default http configs:
[code]

Started in deamon mode AND connect to it's web interface (3 same browser tab, but didn't matter numbers as I saw) and left tabs open.
Replication-manager process memory usage from around 200MB went over 1.1GB in around 2 hours.

After closed web browser and didn't touched replication manager process doesn't really grow more mem usag

[2017-01-26 13:45] tanji commented on #115
Can you try with http-server=true and http-auth=false? We could not reproduce it so far.

[2017-01-26 13:46] tanji commented on #114
Hi @sysdljr the crash happens because you are using relative path for dashboard directory, please use absolute path. I will add more informative error message about this. Thanks

[2017-01-26 14:37] sysdljr commented on #114
Hi, @svaroqui,@tanji
    After just submit problem , had found event scheduler's two parameter  are false,  when change to true,  event scheduler failover is OK.
    After modify http-root =/usr/share/replication-manager/dashboard,  http login access normal.
   Thank you very much

[2017-01-26 14:51] blackluck commented on #115
Did those test:

- without http auth not seen mem leak
- with http auth and opened only login page no mem leak
- with http auth and logged in there is a mem leak (after login  around half or one minute)
- after logged out but leave browser tabs open mem leak stops

mem leak shows this kind of tendency after login:
[code]

will do longer test without http auth, but now seems that auth cause the lea

[2017-01-26 15:19] tanji commented on #114
@sysdljr thanks for letting us know, closing that issue.

[2017-01-26 15:19] #114 closed, assigned to nobody

[2017-01-26 15:19] tanji commented on #115
Issue confirmed here with http auth.

[2017-01-26 15:20] #103 closed, assigned to nobody

[2017-01-26 15:20] #95 closed, assigned to tanji

[2017-01-26 15:20] #106 closed, assigned to tanji

[2017-01-27 06:36] sysdljr opened #116 "replication-manager web manager ?"
Hi, @tanji , @svaroqui
     We have  about 30 group master-slave.
     current,  replication-manager could not  manager multi group master-slave in a web page ?
     Could you can consider to  add a manager page,  first , it could list all groupname, example:

groupname        host                port    status
-----------------------------------------------------
Cluster01      172.28.14.116   33

[2017-01-28 08:20] dimon00 opened #117 "Exporting crm attributes"
It would be good if replication-manager could set crm attributes like the percona agent:
https://github.com/percona/percona-pacemaker-agents/tree/master/agents
in this way other resources, like VIPs, can be directed on the right nodes.

[2017-01-30 09:48] tanji commented on #117
Hi @dimon00 this is already possible somehow with the post-failover and pre-failover scripts, but we can look at better integration.

[2017-01-30 09:59] dimon00 commented on #117
Hi @tanji,
I believe it should be integrated in the monitoring.
When you start the replication-manager you don't have a switchover but you need to find the master to associate the VIP to the right node.
At the moment I'm doing it with a modified "mysql-monitor" percona agent but it would be nice to have less complexity with a minor number of components (i.e. no monitoring agent should be required

[2017-01-31 14:00] svaroqui commented on #116
Hi sysdljr,

Did  commit a first  draft of similar design in dev it works in monitoring console by switching cluster using CtrlP and Ctrl-N

I'll let you know when the full feature work in http

[2017-01-31 14:19] sysdljr commented on #116
ok. thank you very much for your quick development and support

[2017-01-31 14:43] svaroqui commented on #116
This will take more time to finish ,the next month we have many client engagements coming, what can be done if you need to boost delivery of some features is to make some money contribution  to MariaDB so that the days can be blocked as non recursive eng.  But we 'll do our best anyway to improve the tool

[2017-02-01 01:47] sysdljr commented on #116
ok. time longer , it is no problem.
I have alipay account  , later will donate money to MariaDB Foundation.
Thank you passion and focus for product again,  Happy work for you.

[2017-02-01 11:58] tanji commented on #116
Hi guys, there is some confusion here, replication manager is not a MariaDB Foundation project, it's merely a personal project from svaroqui and myself :) however feel free to donate to the foundation if you use MariaDB, it will be appreciated, Thanks

[2017-02-01 12:36] sysdljr commented on #116
Sorry,  because your email address contain "mariadb", I simply think is a company.
Thank you for your explanation, I understand.

[2017-02-09 01:48] svaroqui opened #119 "check binlog_row_image=FULL when enable flashback rejoin"

[2017-02-09 01:50] svaroqui opened #120 "Support many master single multi source slave failover"

[2017-02-09 01:52] svaroqui opened #121 "Add option to cancel failover if semi-sync slave was not sync"
The actual feature only work with switchover

[2017-02-09 09:03] #121 closed, assigned to svaroqui

[2017-02-09 09:07] svaroqui opened #122 "Add support for flashback rejoin"
flashback rejoin will reintoduce failed master if semisync in sync at the time of newly elected master

[2017-02-09 10:24] svaroqui opened #123 "Auto discovery multi cluster from the conf"

[2017-02-09 12:43] svaroqui opened #124 "Active Active etcd cluster part 1"
Use etcd client to store the active replication manager, failover, switchover should implement key retrieval before acting to detect a possible split brain scenarion only the active replication manager should possibly take action.

Replace the heartbeat code to only use such method

[2017-02-09 12:54] svaroqui opened #125 "Maxscale last node in topology issue"
Master have change and no more slave , maxscale need help

[2017-02-09 13:29] svaroqui opened #126 "Add support mysqldump rejoin"

[2017-02-09 13:34] svaroqui opened #127 "Agent base etcd cluster"
Make the agent a node of etcd server

[2017-02-09 13:38] svaroqui opened #128 "Test suite part 1- Agent to start mysqld"
without mysqld_safe and a giving port with a given config template may be use mysql-test suite

[2017-02-09 13:40] tanji commented on #125
Can I have better description of the problem?

[2017-02-09 13:47] svaroqui opened #129 "Test suite part 2 - Agent to kill -9 server"

[2017-02-09 13:48] svaroqui opened #130 "Test suite part3 - Constant crash test under sysbench load"

[2017-02-09 13:50] svaroqui opened #131 "Test suite part 4 - Enabling selective test"

[2017-02-09 13:58] svaroqui opened #132 "Expose all flags and test mode change to GUI settings"
Auto start local mysqld and haproxy and local agent on test flag activation
This enable test suite bench with failover in standalone
Present multi cluster default conf with  a test suite cluster

[2017-02-09 14:15] svaroqui commented on #125
how maxscale can decide a last server after failover is a master if the only server left is no more connected to any slave

[2017-02-09 14:16] svaroqui commented on #125
only MRM know as he decided to failover and is aware of this master flag

[2017-02-11 20:04] svaroqui opened #133 "Switchover on multi domain does not work"

[2017-02-11 20:05] svaroqui commented on #133
Details in email send on site with client

[2017-02-12 09:42] svaroqui commented on #123
close commit 36ecece

[2017-02-15 22:42] markus456 opened #134 "No errors in log if file and position is used instead of GTID"
When slave servers are configured with binlog file and position instead of GTID coordinates, the failover process will fail to find a candidate slave. This might be caused by the empty GTID value in `Gtid_IO_Pos` which causes the following debug log message to be printed when the master is killed.

[code]

Some warning in the log that GTID must be used when configuring the slave would help people

[2017-02-16 10:34] svaroqui commented on #134
Hello that's correct i would propose to fixe it instead of warning up
We should enable file pos comparison as an aternative solution for founding the most up to date slave

[2017-02-18 09:12] markus456 opened #135 "The --maxscale option uses IP instead of server name for `set server` commands"
The --maxscale option uses IP instead of server name for `set server` commands. This causes the operation to fail unless the server names are identical to the IP of the server.

With the following configuration, replication-manager will issue a `set server 192.168.121.13 master` command when promoting the server _server1_ to a master.

[code]

The correct way would be to issue a `set server server

[2017-02-18 09:20] markus456 opened #136 "Set slave status for MaxScale servers"
When replication-manager is configured with the --maxscale option, it will execute a `set server <name> master` command. This will manually assign the master status to a server allowing MaxScale to be controlled by the replication manager.

To allow MaxScale to be used without a monitor, the replication-manager would need to also issue `set server <name> slave` commands for all valid slave server.

[2017-02-18 22:12] tanji commented on #135
There is a serious issue here as "server1" is an arbitrary tag and replication-manager has no inherent knowledge of that mapping. I'm not sure how to resolve this issue at the moment unless there is a way to translate the IP address to the server name as it has been defined in MaxScale.

[2017-02-18 22:13] tanji commented on #136
Depends on #135

[2017-02-19 07:10] markus456 commented on #135
The `list servers` output has the IPs and ports of all servers, it could be parsed for the mappings. This also seems to be a bug on the MaxScale side as the `show serversjson` output doesn't contain the server names.

[2017-02-19 09:31] tanji commented on #135
Yes I am aware, however `list servers` is nothing but simple to parse - it's human-readable, not machine-readable.
On the other hand, I guess it works for me because I do not use an IP address in maxscale.cnf but a hosts record which is similar to the sectional name, e.g.
[code]

[2017-02-19 09:38] svaroqui commented on #135
Markus,
Let's suppose we create a fake slave connection from replication-manager to standalone master  would it solve the standalone  server issue of maxscale monitoring

[2017-02-19 12:25] #135 closed, assigned to nobody

[2017-02-19 12:25] tanji commented on #134
This is not a bug because it's clearly specified in the documentation that GTID must be used. There used to be a test for this, I think. What should be possible is to suggest upgrading the replication to GTID.

[2017-02-27 14:06] #130 closed, assigned to svaroqui

[2017-02-27 14:07] #126 closed, assigned to tanji

[2017-02-27 14:07] #123 closed, assigned to svaroqui

[2017-02-27 14:09] svaroqui commented on #111
Fixed with flashback or dump

[2017-02-27 14:09] #111 closed, assigned to nobody

[2017-03-01 00:27] #136 closed, assigned to nobody

[2017-03-01 00:29] #125 closed, assigned to tanji

[2017-03-01 00:29] #122 closed, assigned to svaroqui

[2017-03-03 07:05] sysdljr opened #138 "two node of master slave switchover error: replication filters differ on master and slave?"
Hi, @tanji
      We use  MRM 1.0.2 test switchover normal on test environment.
       replication-manager  --config=/etc/replication-manager/config.toml --config-group=Cluster01 monitor --interactive=false
           Host   Port          Status   Failures   Using GTID         Current GTID           Slave GTID             Replication Health  Delay  RO$<2>         172.28.14.118   3306          Maste

[2017-03-03 13:12] bhakimi opened #139 "production implementation"
sorry to create a ticket here, i tried to email you but your email address got rejected, im interested in implementing this and i was wondering if we can contract you to do this for us?

please let me know if that would be possible. thank you

[2017-03-03 13:20] tanji commented on #138
Hi @sysdljr

Did you set any replication rules manually? I cannot see one in the configuration file, but one can set "replicate-ignore" options manually in the MySQL Client.
In the meantime you can ignore this with adding this option:

```check-replication-filters = false```

Thanks

[2017-03-03 14:28] tanji commented on #139
Hi @bhakimi, yes, I offer consulting on request. Please email me to guillaume@signal18.io and we can discuss this. Thanks

[2017-03-03 14:28] #139 closed, assigned to nobody

[2017-03-03 14:29] svaroqui commented on #139
Tell us more about your  topology plan ? number of nodes, os , best would be 3 database cluster nodes and 2 proxies nodes

[2017-03-03 14:31] svaroqui commented on #139
Still it's possible to build 2 nodes cluster but this less robust , and you may lose one slave that leave you only with a single master

[2017-03-03 14:50] sysdljr commented on #138
@tanji ,  thank you remind.
Sorry to trouble you,  this is my error.
before two months, this master server ever as a middle slave to migrate some database,  in mysql command line, we set global replicate_do_db = "db1,db2" ,  after migrate complete,   forget to cancel the variable.

[2017-03-05 02:23] tanji commented on #138
@sysdljr No problem, happy to have helped!

[2017-03-05 02:23] #138 closed, assigned to nobody

[2017-03-05 17:05] #22 closed

[2017-03-06 13:37] sysdljr opened #140 "Could not Set ENABLE for event on new master?"
Hi, @tanji
      After MRM switchover , set  event show error, please you help again, thanks

 2017-03-06 20:56:35 INFO : Master switch on 172.28.14.116:3306 complete
 2017-03-06 20:56:35 INFO : Switching other slaves to the new master
 2017-03-06 20:56:34 INFO : Switching old master as a slave
 2017-03-06 20:56:34 ERROR: **Could not  Set ENABLE for event test2 ev_test2 on new master**
 2017-03-06

[2017-03-06 15:16] tanji commented on #140
Hi! @sysdljr, I will try to reproduce this, @svaroqui author of this feature please comment if you have an idea, thanks for reporting.

[2017-03-08 08:05] svaroqui opened #141 "Implement the Orchestrator API"
https://github.com/github/orchestrator/blob/master/docs/using-the-web-api.md

[2017-03-09 11:38] svaroqui commented on #140
Hi , can you try to investigate more on this by using the genral log and the sql error log plugin
- Looking at the code look's like ok to me
- Note that
failover-event-scheduler = false
failover-event-status = false
are auto exclusive and should not be used as both yes , this is not check by the code and so error prone , what are your value for this ?

[2017-03-09 11:39] svaroqui commented on #140
https://mariadb.com/kb/en/mariadb/sql_error_log-plugin/

[2017-03-09 13:34] #62 closed, assigned to tanji

[2017-03-09 14:03] sysdljr commented on #140
Thank you reply, @tanji , @svaroqui
I had install sql_error_log plugin,  after switchover , check sql_errors.log:
2017-03-09 21:45:54 mysqlcheck[mysqlcheck] @[172.28.14.117] ERROR 1044: Access denied for user 'mysqlcheck'@'172.28.14.117' to database 'test2' : ALTER EVENT test2.ev_test2 ENABLE

But, use mysql client execute is normal on 172.28.14.117.
mysql -umysqlcheck -p123456 -h 172.28.14.116
Ma

[2017-03-09 14:08] svaroqui commented on #140
Stéphane Varoqui, Senior Consultant
Phone: +33 695-926-401, skype: svaroqui
http://www.mariadb.com <http://www.mariadb.com/>

so this mean that event scheduler is on on the master and off on the slave and MRM do the flap

This is telling MRM that the event is not running on slave and running on master

So can you test with enabling symmetric conf where event scheduler is on on both nodes
and use

[2017-03-09 14:34] sysdljr commented on #140
set failover-event-scheduler = false and failover-event-status = true, after switchover,  event status is OK,
but event_scheduler status is error.

on new master:
 SHOW VARIABLES WHERE variable_name IN ('read_only','event_scheduler');
 Variable_name	VALUE
**event_scheduler	OFF**          ( if is ON , event can run normal else not run)
read_only	        OFF

SELECT NAME, STATUS  FROM mysql.event ;

[2017-03-09 15:10] svaroqui commented on #140
re,

You should make sure the event_scheduler is on on all nodes before starting the test ,
It is because  failover-event-scheduler = false tell MRM not to touch the event_scheduler activation.
So the state  you are reporting may have come from previous execution when this parameter was true

tx
/stephane

Stéphane Varoqui, Senior Consultant
Phone: +33 695-926-401, skype: svaroqui
http://www.maria

[2017-03-09 15:34] sysdljr commented on #140
OK, I understand.
Sorry, this is my config error.  we always set event_scheduler = off on all slaves.
when set event_scheduler = "on"  in master and slave,   and set  failover-event-scheduler = true,
failover-event-status = true on MRM,   after switchover,  both event_scheduler and event-status are normal.
Thank you very much for your rapid support and help

[2017-03-09 18:13] svaroqui commented on #140
Pleasure thanks for using

[2017-03-09 18:13] #140 closed, assigned to nobody

[2017-03-09 18:21] svaroqui opened #142 "Auto setup nodes to maxscale via API"

[2017-03-09 18:22] svaroqui opened #143 "Test on windows"

[2017-03-10 15:40] #46 closed

[2017-03-10 15:41] #110 closed, assigned to nobody

[2017-03-11 01:44] #108 closed, assigned to tanji

[2017-03-11 02:27] #45 closed

[2017-03-12 09:34] svaroqui opened #144 "Implement rolling optimize and sql"
We could define a rolling_sql_script that will be execute on all node the rolling way

[2017-03-12 12:44] markus456 opened #145 "Indirect slaves aren't recovered"
With a three node setup consisting of one master (A) and two slaves (B, C) and the following chain of events, the slave B will never rejoin the new master C.

* Kill slave B
* Kill master A
* Slave C is promoted as the new master
* Restart B
* Restart A

There are two issues. First, the `replication-manager` doesn't seem to consider B as a possible slave for C. The slave is logically capable of re

[2017-03-13 17:00] svaroqui opened #146 "Don't enforce readonly on Master with old broken replication"
A client have a master with some old  replication thread running by starting replication the master get the read only falg ,

This task would prevent read-only set if the replication is not working

[2017-03-14 12:18] dimon00 opened #147 "Replication Manager not logging in "daemon mode""
I have a replication manager started by pacemaker which is not writing anything in my log file.
The process is running as root and shows that the log file is open:

`root      4021     1  0 Feb01 ?        08:23:14 /usr/bin/replication-manager monitor `--daemon

lsof -p 4021
COMMAND    PID USER   FD      TYPE             DEVICE SIZE/OFF      NODE NAME
replicati 4021 root  cwd       DIR

[2017-03-14 12:53] tanji commented on #147
Please report the version used:
`replication-manager version`

thanks in advance

[2017-03-14 13:06] dimon00 commented on #147
replication-manager version
2017/03/14 14:05:51 INFO : Using config file: /etc/replication-manager/config.toml
MariaDB Replication Manager version 0.7
Full Version:
Build Time:

[2017-03-14 13:26] markus456 opened #148 "Log error output when system commands fail"
As the flashback and mysqldump autorejoin features depend on external binaries, it would be very helpful to log the error messages created by these commands. Here is an example log output with the current code:

[code]
It does tell that the binlogs failed to back up but it gives no explanation as to why it fails. By adding the following lines into monitor.go, I get more information:

[code]

We se

[2017-03-14 14:24] tanji commented on #147
Please upgrade to 1.0.2

https://github.com/tanji/replication-manager/releases

[2017-03-15 10:27] dimon00 commented on #147
I upgraded to 1.0.2
Now it seems to work (at least the restart is being logged).

Thanks

[2017-03-15 10:29] tanji commented on #147
Great to know! Thanks for using Replication Manager.

[2017-03-15 10:29] #147 closed, assigned to nobody

[2017-03-15 11:02] svaroqui commented on #145
Cover by test case

 ./replication-manager  --config-group=cluster_test_3_nodes test --run-tests=testFailoverSemisyncSlavekilledAutoRejoin --test-stop-cluster=false

[2017-03-15 11:02] #145 closed, assigned to nobody

[2017-03-21 08:58] sysdljr opened #152 "Could not send email alert ?"
Hi, @tanji
    I had set alter parameter in /etc/config.toml , but  after switchover,  not received alert mail.
    how  to check it is config or others error ?  please help, thanks.

--- ALERTS ------
mail-from = "mrm@localhost"
mail-smtp-addr = "192.168.101.100:25"
mail-to = "lytg@test.com"

---  if use command line to send mail ,  it is OK.
echo '' |  /bin/mailx  -s "test_mail" -a /root/test.lo

[2017-03-21 09:01] svaroqui commented on #152
Hi ,

What does the log say , i get some similar issue with an other user
You can test it by stoping a slave It should also send an alert.

/stephane

[2017-03-21 09:09] sysdljr commented on #152
@svaroqui , thank you quick reply.

if stop slave sql_thread, mrm's log have not error.
after switchover,  only have switch info:
2017/03/21 17:05:36 INFO : Starting master switch
2017/03/21 17:05:36 INFO : Checking long running updates on master
2017/03/21 17:05:36 INFO : Flushing tables on 172.28.14.118:3306 (master)
2017/03/21 17:05:36 INFO : Electing a new master
2017/03/21 17:05:36 INFO : Sla

[2017-03-21 12:43] sysdljr commented on #140
Hi, @svaroqui
    Recently, we had use mrm 1.0.2 on product server,  have a little problem on event failover,  please help confirm, thanks.
example:
on test01 database:
  CREATE DEFINER=**test1_rw@localhost** EVENT `ev_test1` ON SCHEDULE EVERY 1 HOUR STARTS '2017-03-06 17:00:00' ON COMPLETION PRESERVE ENABLE DO BEGIN
  DELETE FROM test001;
 END

on test02 database:
  CREATE DEFINER=**test2_rw@loca

[2017-03-21 13:03] svaroqui commented on #140
Yes i can confirm now
ALTER EVENT ev_test1 DISABLE ON SLAVE; will change the definer !

I need to push a fix soon
Thanks for reporting

Would appreciate if you can build a test case for this if you can manage go code!
Is that possible?

[2017-03-21 13:08] svaroqui commented on #140
it's clearly documented
When a user executes a successful ALTER EVENT statement, that user becomes the definer for the affected event. So that mean that you need to give some grants to the mysqlcheck user ,

So the fixe is to recreate the event code from scratch from the event table definition , not easy but doable

[2017-03-21 13:10] sysdljr commented on #140
Thank you very much.
Sorry, I only understand database , and I never used go language.
if you have free time,  Could you simple teach me how build go code ?

[2017-03-21 13:25] sysdljr commented on #140
Yes , give some privilege to mysqlcheck user can solve , but , this will permit mysqlcheck user have many database's privileges. we restriced every database only a username's access privileges, whether can keep every event's original user ?
example:
 execute ALTER EVENT ev_test1 DISABLE ON SLAVE , change to execute ALTER definer=test1_rw@localhost  EVENT ev_test1 DISABLE ON SLAVE ?

[2017-03-21 13:28] svaroqui commented on #140
I've push a patch to the dev branch

[2017-03-21 13:30] sysdljr commented on #140
ok, thank you support and help again.

[2017-03-21 13:35] svaroqui commented on #140
What package do you need ?

[2017-03-21 13:52] sysdljr commented on #140
use tar.gz package

[2017-03-21 14:45] svaroqui commented on #140
Can you try this binary
http://88.191.151.84:8080/share.cgi?ssid=0QxFeAw

[2017-03-21 15:12] sysdljr commented on #140
ok, I had download binary package.
after test , reply  you.  thank you very much.

[2017-03-21 15:31] sysdljr commented on #140
after switchover , every event's user close to normal,
now, problem is after definer more than two characters "@%"

SELECT NAME,STATUS,DEFINER  FROM mysql.event ;

NAME	STATUS	DEFINER
ev_test1	ENABLED	 test1_rw@localhost@%
ev_test2	ENABLED	 test2_rw@localhost@%

[2017-03-21 16:48] svaroqui commented on #140
Ok i see what it is i will patch it back home

Le 21 mars 2017 16:32, "sysdljr" <notifications@github.com> a écrit :

[2017-03-21 19:36] svaroqui commented on #140
Re, I created this fixe please let me know if it pass this time,  http://88.191.151.84:8080/share.cgi?ssid=0WoQlRL !

[2017-03-22 01:39] sysdljr commented on #140
Thank you for effective support and help.
replication-manage version
Replication Manager 1.0.0 for MariaDB 10.x Series
Full Version:  1.0.0-254-g7578d90
Build Time:  2017-03-21T20:33:13+0100

First , after switchover, event's username have not change.
NAME	STATUS	DEFINER
ev_testl2	ENABLED	mysqlcheck@172.28.14.117
ev_test1	ENABLED	mysqlcheck@172.28.14.117

after restart mysql,   execute switchover,

[2017-03-22 09:08] sysdljr opened #153 "No candidates found question?"
Hi, @svaroqui
    Please again you help ,thanks
   Today morning,  we switchover five groups master slave,  there are three group repeated execute switchover ,all nomal,  other two groups , first times, switchover normal,  when second times  switchover , it could not normal switch.

before execute switchover,  data write had stopped.

replication-manager  --config=/etc/config.toml --config-group=m

[2017-03-22 11:02] sysdljr opened #154 "MRM 1.1 question?"
Hi, @tanji, @svaroqui
    I use MRM 1.1 to  simple test,  want to ask a few question, please you help, thanks.

1)  MRM start two groups server, it only show Group: test3307  in console , how show Group:3306 ?
replication-manager  --config=/etc/replication-manager/config.toml --config-group=test3306,test3307 monitor --interactive=false

 Replication Monitor and Health Checker for MariaDB version 1

[2017-03-22 11:08] svaroqui commented on #154
Re,

You should get this in the clusters dropbox on top left corner
Send the conf if you only get a single cluster here
Note that cluster names should not have . dot

/stephane
Stéphane Varoqui, Senior Consultant
Phone: +33 695-926-401, skype: svaroqui
http://www.mariadb.com <http://www.mariadb.com/>

[2017-03-22 13:16] sysdljr commented on #154
Thank you, @svaroqui

1) just now  have a node down,  show a Ctrl +N|P prompt
  Host   Port          Status   Failures   Using GTID         Current GTID           Slave GTID             Replicat  172.28.14.118   3307          Failed          0                                                                              172.28.14.116   3307           Slave          0    Slave_Pos             0-118-

[2017-03-22 13:26] svaroqui commented on #154
In terminal mode use ctrl-n or ctrl-p to navigate aroynd clusters

Le 22 mars 2017 14:16, "sysdljr" <notifications@github.com> a écrit :

[2017-03-22 13:41] sysdljr commented on #154
ok, terminal mode show multi cluster normal.
now,  only http mode show have a little problem.

[2017-03-22 14:32] svaroqui commented on #154
Don’t get what you are describing as not working ?
Can you try to reformulate I’m not native english speaker so this can help me a lot !

Thanks

[2017-03-22 14:54] sysdljr commented on #154
http://172.28.14.117:10001 , after login,  only show a group cluster: test3306 ,
other group cluster : test3307 have not show

[2017-03-22 15:05] svaroqui commented on #154
Re,

Yes display off the nodes are for the current selected cluster in the dropbox
Logs are for all clusters
You can switch current cluster display by the CLUSTERS dropbox

/tell me if that help

[2017-03-23 03:30] sysdljr commented on #154
in picture show cluster group: test3307 ,  click cluster group: test3306 , page could not auto refresh in clusters dropbox.  it still show group test3307

![test](https://cloud.githubusercontent.com/assets/17877603/24230747/9587104c-0fbb-11e7-9874-1068e0bc6cb4.png)

[2017-03-23 04:17] sysdljr commented on #154
Before use IE browser to test, just now, change to chrome browser,
change cluster group could auto refresh and normal show in clusrter dropbox.

[2017-03-23 12:18] tanji commented on #153
Hi @sysdljr , maybe increase `--maxdelay` or `--switchover-max-slave-delay` if you're using 1.1.

The default value is 0, so it won't promote any slave that has replication delay. Then, I suppose I should mention how much delay it currently has in the error message  , it would make this issue clearer.

Thanks for the report!

[2017-03-23 12:28] svaroqui commented on #153
Please also check the values for

failover-at-sync = true

switchover-at-sync = true

Those value are true by default and protect you to switchover when not sync , but only way to know this is by using semisync replication
Do you have it enable already ?
If not you can use
force-slave-semisync = true
And tell me if that helps in your case .

Tx stephane
Stéphane Varoqui, Senior Consulant
Phone: +3

[2017-03-23 12:30] tanji commented on #153
Yep @svaroqui Is right, this error message has nothing to do with the delay. It has to see with failover-at-sync, which in my opinion should not be true by default, the default value always used to be false.

[2017-03-23 12:42] svaroqui commented on #153
That a debate and i agree, what i suggest is to make 2 sample configuration files, once that enforce best practice , and one that can be use on exiting cluster without risk or enforcement
 What are you thinking of this plan ?

[2017-03-23 13:08] sysdljr commented on #153
Thank you reply very much.
Because the operation on product server, I use MRM 1.0.2.
at that time,  all program write service had stopped,  between master and slave no delay time.
besides,  on test server,  I occasionally met several times,   master had stop write data, and master and slave's gtid are same,  but ,
 example:  from A switchover to B is normal,   if again switchover from B to A,  pro

[2017-03-23 13:15] tanji commented on #153
If you are not using semisync in 1.0.2 please disable `gtidcheck` either in CLI or Config. Thanks :+1:

[2017-03-23 13:46] sysdljr commented on #153
we had set semisync on product server,
rpl_semi_sync_master_enabled = ON
rpl_semi_sync_slave_enabled = ON
rpl_semi_sync_master_timeout = 10
rpl_semi_sync_master_wait_point=AFTER_COMMIT

 MRM doc have two parameter , I have not find it's explain on mariadb doc. it must add ?
**loose_rpl_semi_sync_master_enabled = ON
loose_rpl_semi_sync_slave_enabled = ON**

[2017-03-23 13:56] tanji commented on #153
No need, the loose_ is a prefix for parameter, if the plugin is not loaded it will just ignore this and start MariaDB instead of giving an Error.
@svaroqui any opinion?

[2017-03-23 14:39] tanji commented on #153
Confirmed issue

[2017-03-24 07:25] #153 closed, assigned to nobody

[2017-03-26 12:47] tanji commented on #152
Hi @sysdljr ! As far as I know, there are only alerts for failover. If you do a manual switchover, alert is not sent.

[2017-03-26 13:58] tanji commented on #152
Confirming that alert is sent successfully in Failover mode. I did not see the need to send an alert in  Switchover, since that's a manual operation and you usually don't need an email to be warned of it ;)
If this is anything you need absolutely, let me know.

[2017-03-26 14:23] sysdljr commented on #152
Thank you reply.

replication-manager  --config=/etc/replication-manager/config.toml --config-group=test3306 monitor --interactive=false

on our product server , if server is down or other falut , it should send alert message to our phone or mail for remind.
Because MRM monitor run in **interactive=false** mode,  if kill -9 mysqld to simulate master down, MRM execute switchover, at this time, we w

[2017-03-26 14:29] tanji commented on #152
Hi @sysdljr,
in this case it executes *failover*, not switchover.

*failover*: automatic or manual operation when master status is _dead_ (unreachable)
*switchover*: manual operation to switch a _live_ master (also called master online change)

I can tell you for sure that *failover* sends an alert on my config:

[code]

In this case I see *ALERT* line two times, first time when Master goes into _

[2017-03-26 14:50] sysdljr commented on #152
just now , I use MRM 1.1 and  same command line , it can send alter message.
before use MRM 1.0.2 couldn't send alert.
Thank you very much.

Replication Monitor and Health Checker for MariaDB **version 1.1.0-dev** | Group: test3306 |  Mode: Automatic $<2>

[2017-03-26 15:02] sysdljr commented on #152
But , after old master 172.28.14.118 start ,  when change to new master ,show "Found same current GTID"  and status is StandAlone ?

Replication Monitor and Health Checker for MariaDB version 1.1.0-dev | Group: test3306 |  Mode: Automatic $<2>                                                                                                                                                      Host

[2017-03-27 01:33] tanji commented on #152
@sysdljr I see an error with binlog backup, that's because we don't ship mysqlbinlog with MRM 1.1 yet (we will include it soon).

@svaroqui any idea?

[2017-03-27 01:34] tanji commented on #154
Yes, IE is unsupported at the moment. We only support Chrome and Firefox.

[2017-03-27 03:05] sysdljr commented on #152
Thank you,  I understand.

[2017-03-27 03:07] sysdljr commented on #154
ok, I understand.
thank you again.

[2017-03-31 07:04] tanji opened #155 "Standby node is able to switchover"
If I log on to a standby node console and try to do switchover, it works, but the active node doesn't recognize that and tries to do a failover. As a result it breaks stuff.

Standby node should not be allowed to do switchover.

[2017-03-31 19:19] jondavidnd1 opened #156 "Bootstrap command without --clean-all flag incorrectly reports existing master/slave setup"
I apologize if I'm reading the code wrong (I have little experience with go), but I am using 1.0.2 to bootstrap a master-slave replication cluster without the --clean-all flag, and I receive an error:

`ERROR: Environment already has an existing master/slave setup`.

This message was also written to the log:

`DEBUG: In Failover skip topology detection`

When looking at the code it seems like this

[2017-04-03 01:27] tanji commented on #156
Hi,

thanks for the report, I actually noticed this yesterday but haven't had time to look at it yet.

[2017-04-03 16:50] Srijstha opened #157 "Version 1.0.2: ERR00012 Could not autodetect a master"
Hello,

I have problem with failover, which fails to elect a master. I tried the following script in MaxScale configuration:

`/usr/bin/replication-manager failover --user root:rootpass --rpluser repluser:replpass --hosts $INITIATOR,$NODELIST`

Here is a screenshot of list of servers and maxscale service status after the master was down:
![screenshot](https://cloud.githubusercontent.com/assets/105

[2017-04-04 07:05] tanji commented on #157
Hi Srijstha,

this mode of operation is deprecated. If you want MaxScale and Replication Manager to play nice together, you should use Replication Manager in daemon mode and let him drive MaxScale through a failover.

You can follow the instructions here:

https://github.com/tanji/replication-manager#using-maxscale

If you have any questions please let me know.

[2017-04-04 11:10] Srijstha commented on #157
Hi tanji,

Many thanks for your response. Actually, I tried the Replication Manager first from command line without script in MaxScale with the command:
` /usr/bin/replication-manager failover --user root:rootpass --rpluser repluser:replpass --hosts dbm,dbs-1,dbs-2 -verbose`

And this also has similar problem.  Here is the output from the command run:
[code]
So, it doesn't look like the problem of

[2017-04-05 09:21] Srijstha commented on #157
I tried to use  daemon mode using the command:
`replication-manager  --config=/etc/config.toml  --config-group=Test_Maxscale --verbose`

The config file contains [Test_Maxscale] group with parameters:
[code]
However, it gives an error:
[code]

It gives the same error whatever configuration group is used. Did I miss anything?

[2017-04-05 10:10] tanji commented on #157
Could you please use --log-level=3 in place of --verbose? There are many reasons for which the slaves could be uneligible for failover. Then, please include the logs. Thanks!

[2017-04-05 10:35] Srijstha commented on #157
The command doesn't seem to create any log file. I also tried with --logfile parameter, but without luck!

[2017-04-05 10:38] tanji commented on #157
Srijstha,

Can you paste the exact commands you have been running and their output?

Thanks!

[2017-04-05 10:41] Srijstha commented on #157
Here is the command and output:
[code]

[2017-04-05 10:55] tanji commented on #157
It works just right for me, so you must have been doing something wrong?

[code]

Could you give me the output of `replication-manager version`? As you see above I'm using version 1.0.2 with some success.

[2017-04-05 10:59] Srijstha commented on #157
That's strange! I am also using version 1.0.2:
[code]
Could that be the problem of the config file? I am using the sample config file from: `https://github.com/tanji/replication-manager/blob/2f13bfe3b1f24d51c16d3b76cd61bd11ab7faea6/etc/config.toml.sample.bestpractice` and just modified the config group!

[2017-04-05 11:06] tanji commented on #157
I have no idea. I just copied the text you pasted me above... If this is different from the sample config file, I could not know :)

Feel free to send me the full config file at guillaume@signal18.io if you do not feel like publishing it online.

[2017-04-05 11:06] tanji commented on #154
Hi @sysdljr, is it fine if we close this issue for now?

[2017-04-05 11:11] tanji commented on #157
By the way, the sample config file is for Replication Manager 1.1, so it might not work with 1.0

[2017-04-05 11:33] Srijstha commented on #157
Ok I figured it out, it was the problem of  wrong path to the config file!  Many thanks for your help and prompt answers.

I am still trying to make it work for master failover and rejoin. I will ask you again if have other questions.  By the way, it would be great if you could provide me a sample config file for 1.0

[2017-04-05 11:35] tanji commented on #157
The sample file should be in the 1.0.2 tarball that you can get from the releases page, or if you have installed a RPM or DEB package it's in `/etc/replication-manager/`

[2017-04-05 11:51] Srijstha commented on #157
Great, thanks. I will first try with 1.1:)

[2017-04-05 12:13] sysdljr commented on #154
ok,  it could closed. thank you

[2017-04-05 12:31] #154 closed, assigned to nobody

[2017-04-05 13:38] Srijstha commented on #157
Hi tanji,

Some progress now:) I am getting the following error now:

[code]
What could be the problem here?

[2017-04-05 20:36] svaroqui commented on #157
You probably need to be able to connect to maxadmin port with user password
define in maxscale, can you check with telnet
 Tx

Le 5 avr. 2017 09:38, "Srijstha" <notifications@github.com> a écrit :

Hi tanji,

Some progress now:) I am getting the following error now:

INFO[2017-04-05T15:33:58+02:00] [Test_Maxscale] DEBUG: Entering
topology detection
INFO[2017-04-05T15:33:58+02:00] [Test_Maxscale] E

[2017-04-07 15:03] #155 closed, assigned to nobody

[2017-04-08 11:41] tanji commented on #157
@Srijstha , you need to connect to the maxscale _administration_ port. Sorry if that is unclear in the docs...
I assume that 3307 is the mysql router port.
So, you need to add this in your maxscale config (if not already present):

[code]

[2017-04-08 11:42] tanji commented on #152
@sysdljr have you been able to fix this issue?

[2017-04-08 12:44] sysdljr commented on #152
MRM 1.1  can send alter message,  1.0.2  still can not send.

[2017-04-10 07:40] Srijstha commented on #157
@tanji, I did have the listener and used the port 6603 as well but without success. It gives an ERROR: Could not connect to MaxScale:Connection failed to address maxscale:6603

As there are many ports referred to in the config.toml.sample, it is not so clear which port corresponds to which port in maxscale config. I hope you have looked at the config files I sent to you by email. If it would be ti

[2017-04-21 08:40] tiberius opened #158 "missing LSB header in init-script?"
Hello,

I recently installed https://github.com/tanji/replication-manager/releases/download/1.1.0-preview1/replication-manager_1.1.0-dev-202-gbec6bf5-bec6bf5_amd64.deb and noticed following error message during install to a debian jessie system:

[code]

There's nothing really related to the php service, it's just missing the LSB Header: https://wiki.debian.org/LSBInitScripts

If I just add
[code]

[2017-04-21 08:42] tanji commented on #158
Hi @tiberius,

Well, Jessie uses systemd, so the systemctl script should be used instead.
However, it seems a good idea to add that in the regular init script.
Thanks for the suggestion!

[2017-04-21 10:12] tiberius commented on #158
Hey,

yeah, jessie by default uses systemd (we aren't, that's why I'm tripping on it). So would be nice to have it. I can try to create a PR if you want?

[2017-04-24 14:23] markus456 opened #159 "Crash with 1.1.0 preview"
[code]
Log:
[replication-manager.txt](https://github.com/tanji/replication-manager/files/952022/replication-manager.txt)

Config:
[config.txt](https://github.com/tanji/replication-manager/files/952029/config.txt)

Two node setup with a master and a slave. Kill slave, kill master, replication manager crashed.

[2017-05-03 15:18] svaroqui commented on #159
Close in nightly build thanks for the record

[2017-05-03 15:18] #159 closed, assigned to nobody

[2017-05-12 18:54] michaeldg opened #160 "Documentation improvements"
When the replication user has only REPLICATION SLAVE (sufficient according to documentation) I get this error:
2017-05-12 14:52:07 ERROR: ERR00015 Error getting privileges for user slave_user on server 10.7.80.184:3306: sql: Scan error on column index 0: unsup

Also I found a small typo:
replication-manager monitor --hosts=db1:3306,db2:3306,db2:3306 --user=root:pass --rpluser=repl:pass
Db2 is adde

[2017-05-12 19:15] svaroqui commented on #160
Hi Michael ,

Tx for using witch release are you using ?

Can you turn  general log and sql_error log plugin to see what wrong with the SQL ?

/svar

[2017-05-13 01:14] michaeldg commented on #160
Sorry I had no time, it was a very quick PoC 1 hour session.

I was using the latest stable (1.0.2) and I do know that it occured with rpluser only having REPLICATION SLAVE privilege. When we added REPLICATION SLAVE to admin  user and then using these credentials it did work.

[2017-05-30 09:54] svaroqui opened #161 "Splitting cluster config files with include"
Such task would enable more readability in provided default sample config file or when when using multi clusters :
A paarmeter in main conf file would just include each need cluster definition like
include = [ "cluster1.cnf", "cluster2.cnf", "cluster3.cnf" ]

[2017-05-30 09:55] #131 closed, assigned to svaroqui

[2017-06-06 09:23] jerrylin0 opened #162 "Standby replication-manager setting issue"
Hi ,
I don't very understand the standby replication-manager setting.
I have three mariadb servers(one master and two slaves) , I want to them running the replication-manager own itself for replication-manger HA.
My setting as below:
arbitration-external = true
arbitration-external-secret = "1378793252.mariadb.com"
arbitration-peer-hosts ="192.168.232.101:10001,192.168.232.102:10001,192.168.232.10

[2017-06-06 09:47] svaroqui commented on #162
Hello,

This code was plan for 2 replication-manager + 1 arbitrator only

arbitration-peer-hosts = should be address of the other replication-manager

[2017-06-08 06:01] jerrylin0 commented on #162
Hi ,
I still not very understood how to setting the arbitrator?
I have three servers one master(192.168.232.101) and two slaves(192.168.232.102 ,192.168.232.103)

I set the arbitrator at slave2(192.168.232.103) , I start the replication-manager and got an error message as below :
[root@pdbsrv3 replication-manager]# replication-manager --config=/usr/local/replication-manager/etc/replication-manager

[2017-06-08 09:38] tanji commented on #162
Please let us know what version you are using.

Thanks

2017-06-08 8:01 GMT+02:00 jerrylin0 <notifications@github.com>:

--
Guillaume Lefranc
signal18.io

[2017-06-08 20:22] tanji commented on #158
Fixed in  cfe501f

[2017-06-08 20:22] #158 closed, assigned to nobody

[2017-06-08 20:25] tanji commented on #29
This cannot be done, because the replication credentials only work from slave => master. MRM can't verify this in its position.

[2017-06-08 20:25] #29 closed

[2017-06-08 22:17] jerrylin0 commented on #162
Hi ,
I using the version is 1.0.2

[2017-06-09 08:29] tanji commented on #162
1.0.2 does not support arbitration, that's why it is not working.

[2017-06-17 08:41] #162 closed, assigned to nobody

[2017-06-26 14:44] tanji commented on #66
Included in 1.1.0-preview2, sorry for being late for the birthday...

[2017-06-26 14:44] #66 closed, assigned to nobody

[2017-06-26 14:44] miklos-szel opened #163 "Master detection fails"
Hello,

Trying to make replication-manager work on my little test environment and looking into integrating it as a potential HA solution to try out (MHA and Orchestrator are currently available):
https://github.com/mszel42/Ansible-MHA-ProxySQL-Docker

Replication manager is running in a docker container(running Ubuntu 16.04.2 LTS), the MySQL(5.6)  instances are running in docker containers, GTID r

[2017-06-26 14:49] tanji commented on #163
Hi @mszel42
`replication-manager` has been written with MariaDB support in mind. However the timing of your issue is crucial because I just released a package that is compatible with MySQL 5.7. MySQL 5.6 is also supported but I would not advise to use it, because the implementation of replication is not very good in that version, and using GTID is safer in most cases.

Feel free to download [repli

[2017-06-26 14:50] tanji commented on #107
Fixed in b4699cb4c7870e015b4e5a3116b496ac4c36cce2

[2017-06-26 14:50] #107 closed, assigned to nobody

[2017-06-27 10:50] lucalooz opened #164 "Is Windows supported?"
I don't see any reference to windows, is it supported?

[2017-06-29 10:21] tanji commented on #164
Hi @llooz ,

Yes Windows is supported. However it's untested so if something does not work please file a bug report. We don't have Windows testers at this time. Also if you need Windows binaries, please let me know.

[2017-07-04 11:40] #164 closed, assigned to nobody

[2017-07-04 11:40] #163 closed, assigned to nobody

[2017-07-05 13:37] King-Black opened #167 "Error getting privileges for user X on server"
Hi, at the end of my log file you see the error:
"Error getting privileges for user repli on server 192.168.2.55:3316: sql: Scan error on column index 0: unsupported Scan,...to type *string Hint: Some lines were ellipsized, use -l to show in full."

Our configuration is
Master-Slave-Slave (MariaDB 10.1.22) and a MaxScale (2.1.4) Server with running replication-manager (1.0.2).

I have updated go t

[2017-07-05 18:22] tanji commented on #167
Hi,

usually that happens when your user is defined under the following form:
`user@'192.168.%'` and MRM can't parse it.

To avoid that, define your user as
`user@'192.168.%.%'`

Hope that helps

[2017-07-06 04:56] King-Black commented on #167
Hi Tanji,
thanks for your answer.

The user ist defined as:
`user@192.168.2.58`.
I have tried it with `user@192.168.%.%` and it works. But why? That's not the way how it should work? I think it's only one adress from the server who works replication-manager?

Thanks for your help.

edit: With `user@192.168.2.%` it also works.

[2017-07-06 07:53] tanji commented on #167
Hi King-Black,

In this case it's the replication user aka `repluser` in the configuration, this user is _not_ from the replication-manager server but is used to configure the replication from slaves to master (aka `CHANGE MASTER TO ... master_user= ... master_password=...`)

That's why `user@192.168.2.58` did not function in your case - I assume `192.168.2.58` is the IP address of your MRM server

[2017-07-06 07:53] #167 closed, assigned to nobody

[2017-07-09 20:45] ntrieber opened #169 "SSL/TLS Connections to Existing Servers"
apologies,

Maybe I missed something, but I do not see SSL/TLS support for replication-manager controlling servers that reqiure a client SSL connection. Please advise.

[2017-07-09 21:01] svaroqui commented on #169
Hi ntrieber,

This is only available from the developer release and can be used via port https 3000 ,  i just finished recoding all client to use this API, in the last commit
It also use JWT token for authentification

If you use the web interface it's not yet secured
Make sure you use your own key and  replace  the existing one in the share directory

Hope it help
If you need a preview in binary

[2017-07-09 21:03] svaroqui commented on #169
Oups sorry i realized we are not talking about the same things here
You are talking about connection to the DB. that is a feature request we did not explore yet

[2017-07-09 21:05] ntrieber commented on #169
Hi Stephanie!

I was interested in SSL to web, but that was not my question.

I connect to my mysql databases like this:

mysql -u dbuser -p dbpassword --ssl-cert=/path/to/client-cert.pem
--ssl-key=/path/to/client-key.pem --ssl-ca=/path/to/ca.pem

how to use --ssl-cert=/path/to/client-cert.pem
--ssl-key=/path/to/client-key.pem --ssl-ca=/path/to/ca.pem ? with
replication-manager? same command-line?

[2017-07-09 21:11] svaroqui commented on #169
It's something that is definitively of interest to provide, i'll put it in the todo, if you wan't to sponsor the feature for faster delivery please contact tanji , i'm currently buzy with config reloading feature and client to daemon security.

[2017-07-09 21:55] tanji commented on #169
Hi @ntrieber

That should be relatively easy to add, because https://github.com/go-sql-driver/mysql supports it out of the box. Unfortunately I am on vacation but I promise to look at it later this month as it's really a low hanging fruit.

Regards
GL

[2017-07-09 22:14] svaroqui commented on #169
create branch tls-db for contribution

[2017-07-09 22:17] ntrieber commented on #169
Merci all!

On Jul 9, 2017 5:55 PM, "Guillaume Lefranc" <notifications@github.com>
wrote:

[2017-07-10 07:38] svaroqui commented on #169
Hi Neal,

The branch is ready for testing do you need a package or can build from source ?

/stéphane

[2017-07-10 12:52] ntrieber commented on #169
Wow! That was fast...

Centos/Package preferred but source is ok too.  I would post and open it up to the greater whole for testing....bet there are a TON of organizations who will love that you added this...

Merci Beaucoup,

Neal

On Jul 10, 2017 3:38 AM, Stephane VAROQUI <notifications@github.com> wrote:

Hi Neal,

The branch is ready for testing do you need a package or can build from source ?

[2017-07-10 13:27] svaroqui commented on #169
There are some Hosts extra parameters to provide the cert info of a cluster ...

Hope it work thanks for testing , my provision system does not yet deployed SSL certificate for testing

[replication-manager-1.1.0_preview3_50_g3ab9c10-3ab9c10.x86_64.rpm.zip](https://github.com/tanji/replication-manager/files/1135614/replication-manager-1.1.0_preview3_50_g3ab9c10-3ab9c10.x86_64.rpm.zip)

[2017-07-12 15:52] svaroqui opened #171 "Case of master without slave rejoin"
Pierre Wong @ Amundi reported this bug
A long transaction in replication queue following by a master crash that as finished executing this transaction can lead to no slave rejoined and this transaction lost  in new master
The case for MariaDB GTID is now fixed in develop branch but no package have release have been produce yet
Looks like ordinal positions of show slave status  are not sync correct

[2017-07-12 15:57] svaroqui opened #172 "2 consecutive failover without write on master can lead to no rejoin of pervious failed slave or master"
Fixed by added phantom write via flush table

[2017-07-12 16:03] svaroqui opened #173 "with maxscale monitor active status of nodes was not refreshed and was possibly leaking memory"

[2017-07-18 17:01] julianoromani opened #174 "Change status from Slave to Suspect"
Hi,

I get the preview3 of replication manager 1.1, and configure a cluster of 2 nodes, master e slave.
When I start everything is ok, I looked on http dashboard, and it show the master and slave.
But after 2 ou 3 hours, on log show change status from slave to suspect, and after halt hour, I get a message saying could not find a slave.
I try a switchover, and it works. Why the slave change his sta

[2017-07-31 21:07] tornatae opened #177 "Stack overflow on 1.10 preview3"
Got stuck in a stack overflow repeat on virtual CentOS 7 machine. I've gotten segfaults from the stable version, hence trying the preview. Didn't record the errors for the segfaults but will if I run into them again.

Edit: I got a segfault starting with a fresh CentOS 7 Linode instance. Realize pasting  the entire logs in a comment is kind of obnoxious so here it is in a gist:

https://gist.githu

[2017-07-31 21:26] svaroqui commented on #177
Hello , i fixed that in the last commit ,

This happen with positional replication, replication-manager was created for MariaDB GTID
Was not well tested on positional replication until last week

- In new commit the crash does not happen and topology can be MMS
- In new commit we should not enter this state as positional should work on MySQL at least

Let me know about :
- What type of package you

[2017-07-31 21:33] tornatae commented on #177
Hey thanks for the speed reply!

Not following you here, could you clarify?

`rpm --query centos-release`
`centos-release-7-3.1611.el7.centos.x86_64`

Using the latest version stable of MariaDB from their repos:

`mysql -V`
`mysql  Ver 15.1 Distrib 10.2.7-MariaDB, for Linux (x86_64) using readline 5.1`

I also got a segfault with a fresh centos install(just to make sure I wasn't the problem) and r

[2017-07-31 21:47] svaroqui commented on #177
Re,
Re,

I will test your setting tomorrow and send you a release that fixe your case  .

Can you confirm you are not currently using GTID in your replication ?
Send us a show slave status;

If you activate GTID replication  you should be able to go

stop slave ;
change master to master_use_gtid=slave_pos;
start slave;

Stéphane Varoqui, Senior Consultant
Phone: +33 695-926-401, skype: svaroqui
ht

[2017-07-31 21:55] tornatae commented on #177
I would greatly appreciate the release, thanks! I am indeed using GTID replication, **NOT** positional replication. Here's a slave status, as well as a snippet from the mysql configuration:

https://gist.github.com/Swashy/1e0b3ce29da9016203b47b2c405cb2cd

[2017-07-31 22:01] svaroqui commented on #177
Config looks very good, Can i get you mail ? i'll send you the new release.

[2017-07-31 22:03] svaroqui commented on #177
I'm currently working on Q&A via Docker , will get soon a json of all test case per setting somewhere , that will greatly help to qualify the quality of Pre GA release

Thanks for trying it !

[2017-07-31 22:06] svaroqui commented on #177
A we are approaching GA this new package get pure client server secure API
the http server need to be enable in config file as default is disable because the http server does not use the API yet .

To get the terminal  client replication-manager client is the way to go !  or protecting the http server via proxy

[2017-07-31 22:08] svaroqui commented on #177
you can mail me at stephane@mariadb.com i will reply if you don"t wan't email in git

[2017-08-01 15:34] tornatae commented on #177
Thanks for the new binary. Did lots of testing with it and after failing over a few times I'm still seeing issues. Sometimes rejoined slaves don't have master set properly when failing back and forth, and sometimes they need a "start slave". **Edit:** And sometimes failing over/starting an old master results in a panic!

Here's my process for testing failover:

-Shut down mariadb on master
-Failov

[2017-08-01 16:01] tornatae commented on #177
I had not re-installed mariadb and mariadb tools on the server with replication-manager, so that's why the mysqldump rejoin was failing. GTID rejoin and other problems still stands and I'm doing more testing.

[2017-08-02 06:36] svaroqui commented on #177
Swashy,

Thanks !

There is a mysqlbinlog tool provided with the package but in your case it was pointing to non exiting binary , hope you installed mariadb 10.2 as this is the one needed for remote binlog copy

[2017-08-02 07:20] svaroqui commented on #177
Hello i have verified the issue with test case
I think i get it fixed .

1455:		"name": "testFailoverAssyncAutoRejoinFlashback",
1456:		"result": "FAIL"
1457-	}
1458-]
--
--
1460-[
1461-	{
1462:		"name": "testFailoverSemisyncAutoRejoinFlashback",
1463:		"result": "FAIL"
1464-	}

Will come back when more testing is done

[2017-08-02 13:49] tornatae commented on #177
Awesome!

Also here's an example of binlog rejoin and GTID reloin failing, but it's confusing because we aren't using position replication, we're using GTID:

https://gist.github.com/Swashy/8edd774044f1fa285180f3f4e4765546

In this log snippet replication-manager is attempting to restore from a binlog position that doesn't exist on the server (mysql-bin.000005) and it also finds an "empty" gtid se

[2017-08-02 14:36] tanji commented on #177
Have you enabled semi-sync?

[2017-08-02 14:37] tanji commented on #177
@svaroqui when mysqlbinlog fails it doesn't return the error so we don't know why it failed in this case (some wrong parameters?)

[2017-08-02 14:39] svaroqui commented on #177
Or it's not
-10.2 mysqlbinlog
- good disk located
- not row base replication

[2017-08-02 19:00] tornatae commented on #177
@tanji I do indeed have semi-sync enabled. I'm pretty sure Mysqlbinlog is failing because the binlog file it's attempting to use doesn't exist.

FWIW I'm using mysqlbinlog that was included with mariadb-server, and here's the output:
`mysqlbinlog Ver 3.3 for Linux at x86_64`

[2017-08-02 19:56] svaroqui commented on #177
what is output of /usr/bin/mysqlbinlog --read-from-remote-server --raw --stop-never-slave-server-id=10000 --user=replication --password= --host=db02.dbserver --port=3306 --result-file=/var/lib/rep
lication-manager/Default-server2- --start-position=4322 mysql-bin.000005

[2017-08-04 16:12] tornatae commented on #177
Simulated a new failover and failback, here's the logs starting from the switchover. I inserted a few records into the new master and then started mariadb again on the old master:

https://gist.github.com/Swashy/f04e6b933c8b2c1b6a13fad3b54f88e6

Then I ran the command you provided on the replication manager server (separate from the cluster).

1. Ran command, no stdout output.
2. Vim and strings v

[2017-08-04 17:29] tornatae commented on #177
@svaroqui Hey I could make a cluster functionally identical to this and provide access to it, if you'd like?

[2017-08-17 15:33] svaroqui opened #178 "Detect multi master without multi-master parameter should produce error state"

[2017-08-18 07:43] tanji commented on #174
Hi @julianoromani, I think this is due to an issue in this build whenever there is a network issue, the status doesn't switch back from Suspect to Slave. This is fairly harmless though, because MRM constantly pings the slaves. I will produce a fix as soon as I can.

[2017-08-18 09:16] #174 closed, assigned to tanji

[2017-09-04 08:17] #105 closed, assigned to svaroqui

[2017-09-11 11:43] krissfr opened #179 "Lot of ERR00010 error since upgrade to 1.1.2"
Hi,

Since i have upgrade all my MRM server to the last stable 1.1.2 version, i have a lot of ERR00010.

i put one of them un debug mode, but i don't see any clue about the root cause of why this error flood my log.
i tryed to increase the connect-timeout parameter, but errors stil occures.
Could you help me please ?

[MRM_config.txt](https://github.com/signal18/replication-manager/files/1292385/M

[2017-09-11 12:52] svaroqui commented on #179
Hello,

Could it be that the slave is delayed or stopped ?

maxdelay = 30 it can be increased may be .
One difference with previous released is that election is trigger during monitoring !
If this happen constantly, not been able to elect a slave is a problem the day you really have to failover .

/Svar

[2017-09-11 12:59] krissfr commented on #179
When it's append, the slave is up and has no delay from the master.
The previous version i use was 0.7 rc3 and i never had this error with it.

Maybe MRM lost the connection with the slave, but i don't know why.

[2017-09-11 13:19] svaroqui commented on #179
When this happen what is the state of the servers in the web console

Can you send URL  of   /servers and /slaves when the ERR00010 is present and not close ?

[2017-09-11 13:28] krissfr commented on #179
this is very hard to catch because there is only 2 seconds max between the error and the close.
once it append when i was in front of the web UI and i saw the slave line become red. about the values i'm not sure but i belive they disapear.

[2017-09-11 13:31] svaroqui commented on #179
re,
Do you min giving a try to last 2.0 osc build 81 ?
http://ci.signal18.io/mrm/builds/develop/ <http://ci.signal18.io/mrm/builds/develop/>

[2017-09-11 13:49] krissfr commented on #179
i have downloaded and installed it. i had to change the config file for hosts and users parameters. i 'll keep you informed i the issue occur again.

[2017-09-11 13:52] krissfr commented on #179
i have this error :
 2017-09-11 15:50:41 [Default] STATE - ERR00010 CLOSING Could not find a slave in topology
 2017-09-11 15:50:41 [Default] STATE - ERR00032 CLOSING No candidates found in slaves list
 2017-09-11 15:50:39 [Default] STATE - ERR00032 No candidates found in slaves list
 2017-09-11 15:50:39 [Default] STATE - ERR00010 Could not find a slave in topology

[2017-09-11 13:54] krissfr commented on #179
here is the full paste  :
 2017-09-11 15:50:41 [Default] STATE - WARN0058 No GTID strict mode on slave 10.129.20.139
 2017-09-11 15:50:41 [Default] STATE - WARN0055 No replication queries in show processlist on slave 10.129.20.139
 2017-09-11 15:50:41 [Default] STATE - WARN0051 No GTID replication on slave 10.129.20.139
 2017-09-11 15:50:41 [Default] STATE - WARN0048 No semisync settings on slave

[2017-09-11 14:01] svaroqui commented on #179
Hello ,

Can you send URL /slaves from the web console
?

[2017-09-11 14:08] svaroqui commented on #179
re i don't like this , this looks like something is going bad in taking show slave status

2017-09-11 15:50:39 [Default] ERROR - Could not get slaves status sql: Scan error on column index 1: unsupported Scan, storing driver.Value type into type *string

[2017-09-11 14:09] svaroqui commented on #179
are you using named connections ?

[2017-09-11 14:15] krissfr commented on #179
no, i don't use named connections. it's a classic master-slave replication.

[2017-09-11 14:26] krissfr commented on #179
Here is the /slaves :
[url_slave.txt](https://github.com/signal18/replication-manager/files/1292849/url_slave.txt)

[2017-09-11 14:48] svaroqui commented on #179
Ok you are not using GTID replication can you please stop slave ; change master to master_use_gtid=current_pos; start slave;
And let me know if this is fixing your the ERR00010 ?

[2017-09-11 15:10] krissfr commented on #179
i have the error with gtid too :
 2017-09-11 17:06:33 [Default] STATE - ERR00032 CLOSING No candidates found in slaves list
 2017-09-11 17:06:33 [Default] STATE - ERR00039 CLOSING Skip slave in election 10.129.20.139 repl not electable
 2017-09-11 17:06:33 [Default] STATE - ERR00041 CLOSING Skip slave in election 10.129.20.139 has more than 0 seconds of replication delay (25)
 2017-09-11 17:06:05

[2017-09-11 16:04] svaroqui commented on #179
I 've push commit to dev build #82 with more error details of what could happen with the show slave status and skip slave if it failed, would you please try it ?

[2017-09-12 08:53] krissfr commented on #179
This is the output with the build 82 :

 2017-09-12 10:30:06 [Default] STATE - ERR00039 CLOSING Skip slave in election 10.129.20.139 repl not electable
 2017-09-12 10:30:06 [Default] STATE - ERR00041 CLOSING Skip slave in election 10.129.20.139 has more than 0 seconds of replication delay (1)
 2017-09-12 10:30:06 [Default] STATE - ERR00032 CLOSING No candidates found in slaves list
 2017-09-12 10:

[2017-09-12 09:56] svaroqui commented on #179
Hello krissfr,

I’get clueless, would it be possible to activate sql error log plugin
https://mariadb.com/kb/en/library/sql-error-log-plugin/ <https://mariadb.com/kb/en/library/sql-error-log-plugin/>

And see what is inside

[2017-09-12 10:28] tanji commented on #179
In my opinion, replication-manager cannot read the slave status correctly, and therefore gives a lot of false positives:
[code]
@krissfr one reason why that should happen is that the mariadb user account has not enough privileges. Could you please check that?

[2017-09-12 10:38] krissfr commented on #179
The management user (called rootmrm in my setup) has `ALL PRIVILEGES ON *.* `.
Is-it enought ?

[2017-09-12 10:41] tanji commented on #179
Yes. What MariaDB version are you using?

[2017-09-12 10:53] krissfr commented on #179
This is the version :
Server version: 10.1.25-MariaDB-1~jessie mariadb.org binary distribution

[2017-09-12 11:04] krissfr commented on #179
with the error log plugin enable on the slave, there is no error in the sql_errors.log when the ERR00010 append.

[2017-09-12 11:08] krissfr commented on #179
does MRM keep the connection for the check loop or make a new connection each time ?

[2017-09-12 11:25] tanji commented on #179
It uses persistent connections. But obviously, there's something in your `SLAVE STATUS` output that causes an error in replication-manager, most probably a `nil` value returned by some field.

Could you use the `mysql` CLI utility and do a `SHOW SLAVE STATUS\G` on your slave. Then please paste the result here.

[2017-09-12 11:34] krissfr commented on #179
here is the show slave status :
mysql> show slave status\G
*************************** 1. row ***************************
               Slave_IO_State: Waiting for master to send event
                  Master_Host: 10.129.20.59
                  Master_User: replic
                  Master_Port: 3306
                Connect_Retry: 60
              Master_Log_File: mysql-bin.000895
          Read

[2017-09-12 11:35] krissfr commented on #179
maybe the MRM connection is cut by mysql with a timeout ?

mysql> show global variables like '%time%';
+---------------------------------+-------------------+
| Variable_name                   | Value             |
+---------------------------------+-------------------+
| connect_timeout                 | 10                |
| datetime_format                 | %Y-%m-%d %H:%i:%s |
| deadlock_timeou

[2017-09-12 12:15] tanji commented on #179
Nope, the connection is polled every second.
The problem we have is that a NULL value is returned by `SHOW ALL SLAVES STATUS`. A string cannot be null in Go so it returns an exception. Working on a fix (when I can find the value that returns NULL...)
On this subject, could you paste the result of `SHOW ALL SLAVES STATUS` (and not SHOW SLAVE STATUS as asked before... sorry, that's the one we're usi

[2017-09-12 12:33] krissfr commented on #179
here is the result :

MariaDB [(none)]> show all slaves status\G
*************************** 1. row ***************************
              Connection_name:
              Slave_SQL_State: Slave has read all relay log; waiting for the slave I/O thread to update it
               Slave_IO_State: Waiting for master to send event
                  Master_Host: 10.129.20.59
                  Master_U

[2017-09-12 13:07] krissfr commented on #179
As the error occur randomly, maybe i doesn't appear when i do the show all slaves status\G

[2017-09-12 13:08] tanji commented on #179
OK, in this case it can be due to a connection error. In any case we cannot reproduce it in our testing lab...

[2017-09-12 13:15] tanji commented on #179
Is it happening every 15 seconds?

[2017-09-12 13:37] krissfr commented on #179
i have that on almost all my MRM platform (around 20 setup with 1 MRM server and 2 MariaDB servers).
I happend randomly. on some platform it occur frequently :

 2017-09-12 15:10:12 [Default] STATE - CLOSING ERR00010 Could not find a slave in topology
 2017-09-12 15:10:10 [Default] STATE - ERR00010 Could not find a slave in topology
 2017-09-12 15:00:38 [Default] STATE - CLOSING ERR00010 Could not

[2017-09-12 13:44] tanji commented on #179
Probably with a debug version, if you are willing to try it. That's the first time we got such a thing reported. Another option would be to give one of us access to a staging platform where you have this issue happening.

[2017-09-12 13:49] krissfr commented on #179
yes please i want to try with a debug version. I don't have a plateform where i can give access.

[2017-09-12 14:26] tanji commented on #179
[replication-manager.gz](https://github.com/signal18/replication-manager/files/1296274/replication-manager.gz)

@krissfr please try this binary. it will generate a full exception if there's a disconnection at the slave status check stage.

It's a 1.1.2 binary, so 1.1 config style will work with it

[2017-09-12 14:56] tanji commented on #179
@krissfr we noticed we had some variable names changing between 0.7 and 1.1 which could have led to a change of behavior. notably this one which is really important: `maxdelay` was replaced by `switchover-max-slave-delay` for switchover and `failover-max-slave-delay` for failover.
Please add in your conf:
[code]
This should solve already some of the issues you're encountering.

[2017-09-12 15:39] krissfr commented on #179
thanks for the variable name .
With the replication-manager.gz binary, i had an error but no more logs :
 2017-09-12 17:05:38 [Default] STATE - CLOSING ERR00010 Could not find a slave in topology
 2017-09-12 17:05:36 [Default] STATE - ERR00010 Could not find a slave in topology

should i put the debug variable in config.toml ?

[2017-09-12 15:53] krissfr commented on #179
i put the log-level to 9 in config.toml, i will keep you informed when the error will occur

[2017-09-12 15:57] tanji commented on #179
log-level to 2 is ok, anything more than 2 is really verbose

[2017-09-12 16:06] krissfr commented on #179
ok i put it to 2.

[2017-09-12 17:30] svaroqui commented on #179
Hi Kissfr,

In last 2.0 build we just added alias for old config variables if you wan't to test at some point ?

[2017-09-14 07:54] krissfr commented on #179
with log-level = 2 i don't have more informations :

 2017-09-14 09:38:09 [Default] STATE - CLOSING ERR00010 Could not find a slave in topology
 2017-09-14 09:38:07 [Default] STATE - ERR00010 Could not find a slave in topology
 2017-09-14 09:37:03 [Default] STATE - CLOSING ERR00010 Could not find a slave in topology
 2017-09-14 09:37:01 [Default] STATE - ERR00010 Could not find a slave in topology

[2017-09-14 08:22] krissfr commented on #179
Hi,
this is the log with log-level= 9  :

2017/09/14 10:16:32 [Default] DEBUG - Monitoring server loop
2017/09/14 10:16:32 [Default] DEBUG - Server [0]: URL: 10.129.20.59    State: Master PrevState: Master
2017/09/14 10:16:32 [Default] DEBUG - Server [1]: URL: 10.129.20.139   State:  Slave PrevState:  Slave
2017/09/14 10:16:32 [Default] DEBUG - Master [ ]: URL: 10.129.20.59    State: Master PrevSt

[2017-09-14 09:01] tanji commented on #179
The slave seems to be flapping, it goes from Slave to SlaveErr. In my opinion, if you observe the show status on the slave or error log of the slave, you might see something happening... maybe server-id is not configured correctly?

[2017-09-14 09:02] svaroqui commented on #179
on 2.0 code is
	if server.SQLThread == "Yes" && server.IOThread == "No" {
				server.State = stateSlaveErr
				return fmt.Sprintf("NOT OK, IO Stopped (%d)", server.IOErrno)
			} else if server.SQLThread == "No" && server.IOThread == "Yes" {
				server.State = stateSlaveErr
				return fmt.Sprintf("NOT OK, SQL Stopped (%d)", server.SQLErrno)
			} else if server.SQLThread == "No" && server.IOThread =

[2017-09-14 10:02] krissfr commented on #179
there is nothing in the mysql.err and server-id are different from the master and the slave.
Here is the output of the show slave status :

MariaDB [(none)]> show slave status\G
*************************** 1. row ***************************
               Slave_IO_State: Waiting for master to send event
                  Master_Host: 10.129.20.59
                  Master_User: replic

[2017-09-14 12:26] krissfr commented on #179
Here is the top of show status on the slave after having ERR00010 in MRM :

MariaDB [(none)]> show status;
+--------------------------------------------------------------+----------------------------------------+
| Variable_name                                                | Value                                  |
+--------------------------------------------------------------+-----------------

[2017-09-14 12:31] krissfr commented on #179
Maybe it could not be linked, but when there is no queries on Master ( so nothing to be replicated on slave) the ERR00010 never come, but when there is a lot activity, there is a lot of ERR00010 in MRM.

[2017-09-14 13:48] tanji commented on #179
`show status` only gives counters for your session. use `show global status` instead.

Could you also post the `/settings` endpoint of the MRM dashboard (it gives a JSON reply)?

[2017-09-14 14:06] krissfr commented on #179
with the show global status i can show Aborted_clients is 1 (after alll, it was because of a ctl+C on the mysql client). It doesn't increase when the ERR00010 occur.

Here is the /settings :

{"enterprise":"false","interactive":"false","failoverctr":"0","maxdelay":"30","faillimit":"1","lastfailover":"N/A","monheartbeats":"837","uptime":"99.88053","uptimefailable":"99.88053","uptimesemisync":"0.000

[2017-09-14 14:36] tanji commented on #179
Any error in MariaDB error logs on the slave? if the IO thread or SQL thread has stopped it will be registered in there. As @svaroqui said, `SlaveErr` state can only occur if one of those threads have been stopped.

[2017-09-14 15:00] krissfr commented on #179
There is no errors in the mysql.err log on the slave (restart at 15h33, there was an ERR00010 on MRM at 16h00 and 16h13 but nothing in the mysql.err):

2017-09-14 15:33:58 140019194595264 [Note] InnoDB: Using mutexes to ref count buffer pool pages
2017-09-14 15:33:58 140019194595264 [Note] InnoDB: The InnoDB memory heap is disabled
2017-09-14 15:33:58 140019194595264 [Note] InnoDB: Mutexes and rw_

[2017-09-14 17:34] svaroqui commented on #179
Hi KrissFR,

I push a fixe in develop 2.0 build 102 please can you try it.... from http://ci.signal18.io/mrm/builds/develop/

I put the compatibility from old variables but not for  interactive  that should be replace with failover-mode="manual" or "automatic"

tx
/svar

[2017-09-14 17:38] svaroqui opened #180 "Security API: Login should track tentative for spoofing detection"

[2017-09-15 07:47] krissfr commented on #179
Hi Stephane,
I follow your link and found the 110 build. i have installed it and put faiolver-mode="automatic" instead of interactive=false in the config.toml.

I have this error :

Sep 15 09:42:59 yriweb-pn01-web replication-manager-osc[77130]: time="2017-09-15T09:42:59+02:00" level=debug msg="Entering topology detection" cluster=Default
Sep 15 09:42:59 yriweb-pn01-web replication-manager-osc[771

[2017-09-15 08:01] tanji commented on #179
Can you replace the topology section by this one?
[code]

Let me know if that worked for you.

[2017-09-15 08:06] Slash663 opened #181 "Failed to switch master (ERR00012 Could not find a master in topology)"
Hello,
Here is situation:
I have a 2 nodes cluster, mariadb master/slave config. (version 10.2.8)
Replication-manager (version 1.1.2) is clustered via pacemaker.
When node carrying all resources (master mariadb + replication-manager) goes down, replication-manager is started on other node and can not switch slave to master. The slave mariadb stays slave forever and I am losing connection to server

[2017-09-15 08:18] krissfr commented on #179
Replication-manager is starting with this new topology section, i will keep you informed if ERR00010 occur again.

[2017-09-15 08:48] tanji commented on #181
This kind of deployment is unsupported. It is recommended to setup `replication-manager` on a third-party node. It must not be co-located with the servers, because it needs to monitor and keep crash history.

You could try the option `failover-restart-unsafe` to force replication-manager to elect a new master on start. But as the name implies it's not the safest way to do things at the moment.

[2017-09-15 09:40] Slash663 commented on #181
failover-restart-unsafe did indeed the trick.

I didn't know that kind of setup was not supported, I will see for a third-party node then.

Thank you for the quick answer and support!

[2017-09-15 09:45] tanji commented on #181
Excellent! Well, it can theoretically work but that's not the most resilient way for sure. If the node where replication-manager is colocated crashes, it causes it to lose all state information, so the new instance will start with no information of your previous topology. So if you can use a dedicated node for this it's best. We're in the process of documenting those setups, please bookmark https:

[2017-09-15 09:45] #181 closed, assigned to nobody

[2017-09-15 09:46] tanji commented on #177
@Swashy just curious if you have been able to reproduce this with new releases?

[2017-09-15 14:09] krissfr commented on #179
It's running since 6h now and no one ERR00010 occur, i keep my fingers crossed and wait until monday :)

[2017-09-16 16:40] svaroqui opened #182 "Check non ROW BASED vs flashback configuration"

[2017-09-16 16:43] #129 closed, assigned to svaroqui

[2017-09-16 16:44] #173 closed, assigned to svaroqui

[2017-09-16 16:44] #160 closed, assigned to nobody

[2017-09-16 16:49] svaroqui opened #183 "Check Server ID against cluster nodes"

[2017-09-16 16:50] #171 closed, assigned to svaroqui

[2017-09-16 16:55] #152 closed, assigned to nobody

[2017-09-16 17:05] svaroqui commented on #156
Hello, this is expected  , when one destroy and recreate replication you don't wan't to failover when for example configure in automatic failover , and this message is auto printed when we force skip the failover via sme.SetFailoverState(), a fixe would be to create sme.SetBootstrapState() and change the error message in such case

[2017-09-16 17:12] #172 closed, assigned to svaroqui

[2017-09-16 17:14] #128 closed, assigned to svaroqui

[2017-09-16 17:24] svaroqui commented on #148
Thanks Markus just implemented your fix in  2.0

[2017-09-16 17:24] #148 closed, assigned to svaroqui

[2017-09-16 17:25] #132 closed, assigned to svaroqui

[2017-09-16 17:27] #116 closed, assigned to svaroqui

[2017-09-16 17:29] #81 closed, assigned to nobody

[2017-09-16 17:31] #21 closed

[2017-09-16 17:32] #51 closed, assigned to nobody

[2017-09-16 17:34] #57 closed, assigned to nobody

[2017-09-16 17:40] #87 closed, assigned to nobody

[2017-09-16 17:40] #133 closed, assigned to nobody

[2017-09-16 17:41] #169 closed, assigned to tanji

[2017-09-18 07:43] krissfr commented on #179
Hi, no ERR00010 during the WE, i guess this issue is fixed :-)

What do you recommand for my 20 production MRM servers ? Should i upgrade all of them with the 110 build and change their topology section ?

[2017-09-18 07:58] svaroqui commented on #179
I  conduct some non regression test during the WE 2.0 is ok for me

[2017-09-18 09:56] svaroqui commented on #179
Guillaume did you backport for 1.1 ?

[2017-09-18 13:34] krissfr commented on #179
Stephane,

i have bad news . When i put force-slave-readonly = true instead of readonly = true, ERR00010 come back :-(

readonly = true is deprecated, right ?

[2017-09-18 13:39] svaroqui commented on #179
Hi

Yes it is deprecated for failover-readonly-state
force-slave-readonly  is en enforcement that impose readonly not only on failover siwtchover , i'll get a look at it to see why it can trigger ERR00010

Tx for testing

[2017-09-18 14:17] krissfr commented on #179
This is what i have with failover-readonly-state = true :

 2017-09-18 16:14:13 [Default] STATE - ERR00032 CLOSING No candidates found in slaves list
 2017-09-18 16:14:13 [Default] STATE - ERR00010 CLOSING Could not find a slave in topology
 2017-09-18 16:14:11 [Default] STATE - ERR00010 Could not find a slave in topology
 2017-09-18 16:14:11 [Default] STATE - ERR00032 No candidates found in slave

[2017-09-18 14:45] svaroqui commented on #179
Re,

We  are getting closer to an other  issue

Could not get slaves status
sql: Scan error on column index 1:
This is  because the code to fetch slave status is returning NULL values
Can you confirm that you see  NULL values from show all slaves status when read-only flag is on ?

Or may be this is a state that randomly show up independently from READ ONLY or not ?

[2017-09-18 14:54] krissfr commented on #179
I don't see NULL value when i set read-only or failover-readonly-state to true .
Here is the show all slaves status\G :
mysql> show all slaves status\G
*************************** 1. row ***************************
              Connection_name:
              Slave_SQL_State: Slave has read all relay log; waiting for the slave I/O thread to update it
               Slave_IO_State: Waiting for mast

[2017-09-18 15:00] krissfr commented on #179
when the flag read-only is set to true and if the slave is in read-write, MRM do not change the slave status, so the slave stay in read-write

[2017-09-18 15:05] svaroqui commented on #179
yes read-only is only for failover switchover process that why it was renamed to failover-readonly-state , introducing force-slave-readonly was for the purpose of setting them during monitoring
 but you point that it may be dangerous

[2017-09-19 07:52] krissfr commented on #179
i have tryed with force-slave-readonly = true and failover-readonly-state = true .
I still have the error :

 2017-09-19 09:36:55 [Default] STATE - WARN0054 No log of replication queries in slow query on slave 10.129.20.139
 2017-09-19 09:36:55 [Default] STATE - ERR00010 CLOSING Could not find a slave in topology
 2017-09-19 09:36:55 [Default] STATE - ERR00032 CLOSING No candidates found in slaves

[2017-09-19 13:37] tanji commented on #179
Working on a fix

[2017-09-19 15:53] tanji commented on #179
Hi @krissfr, please try last build number 113 in our CI directory. The problem of unsupported scan should be stored hopefully... Thanks

[2017-09-19 16:06] krissfr commented on #179
Hi @tanji ,
from http://ci.signal18.io/mrm/builds/develop/ i don't see the 113 build, only the 121. Should i try the 121 ?

[2017-09-19 16:12] tanji commented on #179
Yes, sorry... 113 is the number of the build, 120 is the git revision. So it's the correct (last) one indeed.

[2017-09-19 16:19] krissfr commented on #179
Ok thank you, the 121 is running. i will keep you informed

[2017-09-20 05:05] psachin-ic commented on #106
Hello Tanji,

I am unable to find the etc/config.toml config file after installing the replication manager rpm

rpm -qa replication-manager
replication-manager-1.1.2-2183c2a3.x86_64

which replication-manager
/bin/replication-manager

[2017-09-20 08:07] krissfr commented on #179
Hi @tanji,
it seem to be good :-)

 2017-09-20 09:06:15 [Default] STATE - ERR00032 CLOSING No candidates found in slaves list
 2017-09-20 09:06:15 [Default] STATE - ERR00039 CLOSING Skip slave in election 10.129.20.139 repl not electable
 2017-09-20 09:06:15 [Default] STATE - ERR00041 CLOSING Skip slave in election 10.129.20.139 has more than 30 seconds of replication delay (51)
 2017-09-20 09:05:

[2017-09-20 08:25] tanji commented on #106
Hi @psachin-ic,

You have to generate that config file yourself. The RPM includes example files in `/etc/replication-manager/`.

Either start from one of those files or use a minimal config such as described in our docs:
https://docs.signal18.io/installation/configuration

Let me know if that worked for you.

[2017-09-20 08:27] tanji commented on #179
Hi @krissfr,

Excellent news!

As for a late slave, it's not removed from the list, but it won't be elected as master. You can tune this delay if needed.

BTW, we've released our official documentation, make sure to give it a peek:
https://docs.signal18.io

I'll close this issue in the meantime. Thanks for all the feedback!

[2017-09-20 08:27] #179 closed, assigned to nobody

[2017-09-20 11:02] psachin-ic commented on #106
Getting error

/usr/bin/replication-manager --hosts =IP:port,ip2:port --user  user:'pass!' --rpluser user:'pass' topology
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0xa2e2f3]

goroutine 1 [running]:
github.com/tanji/replication-manager/cluster.(*ServerMonitor).Refresh(0xc4202b3c00, 0x0, 0x0)
        /home/tan

[2017-09-20 11:26] psachin-ic commented on #106
yes it worked for me. can you suggest whether it can be used to do automatic failover inside maxscale config and whether it works on simple asynchronous based replication and not gtid.

[2017-09-20 12:51] tanji commented on #106
Yes we have examples for maxscale please check our documentation at https://docs.signal18.io

It isn't recommended to use asynchronous replication because of multiple issues. Switchover will work well, but automatic failover isn't a good idea. It's very easy to transition to GTID if you run MariaDB 10.x.

What is your topology (number of servers) and version of DB server?

[2017-09-20 13:00] tanji commented on #75
Fixed in 2.0 with introduction of server and CLI

[2017-09-20 13:00] #75 closed, assigned to nobody

[2017-09-20 18:21] tanji commented on #58
now documented at https://docs.signal18.io

[2017-09-20 18:22] #58 closed, assigned to nobody

[2017-09-21 04:30] psachin-ic commented on #106
i have one master and two slaves in Master-2 Slave topology. I am using 10.1.14 version of mariadb.

[2017-09-21 05:52] svaroqui commented on #106
Hi,.

When you will switchover or failover than replication-manager will start using gtid because in this MariaDB Version GTID are alway on , the issue with not using GTID stream is that the replication is not slave crash safe,  and you won't get parallel commit on the slaves. This task is style open in MariaDB to enable parallel replication with old style replication .

So in your setup i think y

[2017-09-21 07:28] psachin-ic commented on #106
Host   Port          Status   Failures   Using GTID         Current GTID
   XXXXXX  3333          Master          0                    1-201-36472500
    XXXXXX   3333           Slave          0           No 0-202-120707,1-201-36

So with existing setup it says using GTID= NO , so what would be all challenges.

From: Stephane VAROQUI [mailto:notifications@github.com]
Sent: 21 September 2017 11:23

[2017-09-21 10:50] psachin-ic commented on #106
Last_IO_Errno: 1236
                Last_IO_Error: Got fatal error 1236 from master when reading data from binary log: 'Error: connecting slave requested to start from GTID 0-12-2475, which is not in the master's binlog. Since the master's binlog contains GTIDs with higher sequence numbers, it probably means that the slave has diverged due to executing extra erroneous transactions'

Even unable to

[2017-09-21 11:40] tanji commented on #106
This type of failover action isn't supported anymore. I think you must have found this in MariaDB blog.
Replication Manager is able to pilot MaxScale directly.

Please read https://docs.signal18.io/configuration/routing-traffic/maxscale and look at examples in /etc

[2017-09-21 15:40] tanji opened #184 "Bootstrap CLI function issue"
With this topology:
[code]
The bootstrap function does not work anymore.
It has to be called two times for it to repair the topology.

Also the 2nd time returns a wrong information (it says all the servers are unconnected)

[2017-09-22 07:57] krissfr commented on #179
Hi @tanji,

It still OK.
i had read the documentation (i love it) and have seen that there is debian and yum repositories. it's very convenient :)

Is there an expected date about the 2.0 release with this fix or maybe a backport of the fix in 1.1 branche ?

thanks for all :)

[2017-10-03 13:30] #184 closed, assigned to nobody

[2017-10-10 14:19] vfxcode opened #186 "config-group command line argument does not work on failover"
If there are two (or more?) clusters defined in config.toml in topology and switchover everything seems to be working as expected. That is, with --config-group it (seems to) correctly use the valid configuration.
In failover mode it seems to either fail or use the first config-group it encounters.

To duplicate use a sample config:
[code]

[code]

I am using the 1.1.2 version from the released pac

[2017-10-10 14:38] tanji commented on #186
Hi @vfxcode, have you tried failover using the monitor mode? It is not really recommended to use the CLI, as there is no monitoring at all.

I will look at this issue nonetheless.

[2017-10-10 15:27] tanji commented on #186
Try one of these packages, I fixed the error described above:
http://ci.signal18.io/mrm/builds/1.1/

[2017-10-11 15:54] awakse opened #187 "What MariaDB prerequisites are needed to find a master"
Hi,
I have a master-slave replication setup in two different docker containers, and replication-manager running in a third container.

I recently got this setup to work, but after some fiddling with the db instances/replication it stopped working. My question is what settings and setup are needed on the db instance to get replication-manager to find a master in the topology?
Replication is using G

[2017-10-12 07:33] svaroqui commented on #187
Hi,
i can see you  have failover-at-sync = true in the conf , do you have semisync plugins enable ?
The main difference in new releases is that the election is done constantly to check the capability to failover, what can be done is to turn out all replication state checks via check-replication-state=false but that is more like a drastic position.
FYI In release 2.0-osc we changed many of the para

[2017-10-12 08:22] tanji commented on #187
Assuming your two servers are 172.17.0.3 and 172.17.0.2:

[code]

Both servers are configured as slaves. That's a master-master topology. You have to turn on the `replication-multi-master` option if you really want this.

[2017-10-12 09:31] vfxcode commented on #186
I can still make it crash. Even in monitor mode.
I suspect this time its because the domain names for the default cluster do not exist...
The trully valid cluster seems to work ok.

[code]

Failover through the monitor interface seems to work correctly
Through the cli, however, it seems to always use the hosts of the default group (or a group that is the first defined in the toml config file).

Fo

[2017-10-12 10:15] tanji commented on #186
We are not planning to drop support for the CLI, simply said, it's not as well tested as the monitor is.
In 2.0 the CLI is revamped and using the API. You might want to test the last version (check in http://ci.signal18.io/mrm/builds/develop) however most of the options have been renamed for consistency. All of this is now documented in https://docs.signal18.io for clarity.
If the domain names don

[2017-10-12 10:22] svaroqui commented on #186
Yes i would suggest 2.0 for any client interaction  , please use the osc release it comes with osc and cli , in 2.0 the monitor is always up in daemon mode and client are using JWT API to query the daemon it's a much correct architecture , the cli can be installed on same or different servers and the server can retain states of each cluster instead of re discovering all time , if it can be redisco

[2017-10-12 11:10] vfxcode commented on #186
Yes I have tested the 2.0 version, and I agree with the architecture, but I am a bit skeptical about using the development branch in production just yet.
The monitor interface is fine and it should work (for us), however I was expecting it to behave identically to the cli interface so I did my pre-production tests through that.
The failover issue I reported in my previous comment is a bit dangerou

[2017-10-12 11:17] svaroqui commented on #186
Tx, FYI, 2.0 will be the first release with automated quality checks http://ci.signal18.io/results/ and the first one we will offer support suscription  via signal18

[2017-10-12 11:35] vfxcode commented on #186
Excellent!

[2017-10-13 06:25] awakse commented on #187
@svaroqui settings failover-at-sync=false doesn't change anything. I'm building from source, version 1.1.2.

@tanji Correct, that's my two servers. I don't want a multimaster topology. The question is how I configure a db instance to be detected as a master and not a slave?

[2017-10-13 06:38] svaroqui commented on #187
Ok you need to go the the one you think is a master and do a reset slave all :) as i prety sure if you do show  slave status you still get something !

[2017-10-13 06:43] svaroqui commented on #187
Would be intrested to know what step bring you  to such state , any database release, version  you share with us to try to reproduce

[2017-10-13 08:01] awakse commented on #187
`reset slave all` did the trick! I've only done `reset slave`on the preferred master, to no avail.

I think the steps include restoring one instance from a mysqldump, but exactly what commands I used I can't recall.

Thanks for the help!

[2017-10-13 08:02] #187 closed, assigned to nobody

[2017-10-13 08:04] svaroqui commented on #187
If you plan to get docker in production our version pro is just for you, it get some advance services orchestration like kubernetes and manager the route to  your docker container , with it bootstrapping a full cluster is matter of one command . Not to say that we embedded in MySQL and MariaDB config about 14 years of best consulting practice